<div class="col_1">
    <div class="section">
        <h3 class="section_title">
            <a class="t" href="javascript:void(0)">个人资料</a>
        </h3>
        <div class="content clearfix">
            <div class="gerenziliao">
                @foreach (var item in Model.Uses1)
                {
                    <div class="ua">
                        <span class="atext">账号</span>
                        <input class="form-control utxt" value="@item.Users_id" readonly="readonly" />
                    </div>
                    <div class="ua">
                        <span class="atext">用户名</span>
                        <input class="form-control utxt" value="@item.UserName" readonly="readonly" />
                    </div>
                                <div class="ua">
                                    <span class="atext">邮箱</span>
                                    <input class="form-control utxt" value="@item.UserMail" readonly="readonly" />
                                </div>
                                <div class="ua">
                                    <span class="atext">性别</span>
                                    <input class="form-control utxt" value="@item.Sex" readonly="readonly" />
                                </div>
                                <div class="ua">
                                    <span class="atext">个性签名</span>
                                    <input class="form-control utxt" value="@item.UserSign" style="width: 550px;" readonly="readonly" />
                                </div>
                }
            </div>
        </div>
    </div>
</div>