<div class="col_1">
    <div class="section">
        <h3 class="section_title">
            <a class="GuanZhu_gz" href="javascript:void(0)" style="font-weight: 700;">关注</a>  | <a class="GuanZhu_fs" href="javascript:void(0)">粉丝</a>
        </h3>
        <div class="content clearfix">
            <div class="gz">
                @foreach (var item in Model.UsesAa)
                {
                    <div class="list-item clearfix">
                        <a target="_blank" class="cover" href="javascript:void(0)">
                            <img src="@item.UserImage2" alt="@item.UserName2">
                        </a>
                        <div class="content">
                            <a target="_blank" class="title" href="javascript:void(0)"> <span class="vip-name-check fans-name">@item.UserName2</span> </a>
                            <div class="desc" title="@item.UserSign2">@item.UserSign2</div>
                        </div>
                    </div>
                }
            </div>
            <div class="fs">
                @foreach (var item in Model.UsesBb)
                {
                    <div class="list-item clearfix">
                        <a target="_blank" class="cover" href="javascript:void(0)">
                            <img src="@item.UserImage" alt="@item.UserName">
                        </a>
                        <div class="content">
                            <a target="_blank" class="title" href="javascript:void(0)"> <span class="vip-name-check fans-name">@item.UserName</span> </a>
                            <div class="desc" title="@item.UserSign">@item.UserSign</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>