@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@using System.Web.UI.WebControls
@model Shiyun.Models.UserCenterViewModel
@{
    ViewBag.Title = "个人中心";
}
@section style{
<link href="~/Content/css/UserCenter.css" rel="stylesheet" />
    <style type="text/css">

    </style>
}
<div class="space-body">
    <div class="h">
        <div class="wrapper">
            <div class="h_a">
                <div class="h_gradient">

                </div>
                <div class="h_user">
                    @foreach (var item in Model.Uses1)
                    {
                        <div class="h_avatar">
                            <img class="h_avatar_img" src="@item.UserImage"/>
                        </div>
                        <div class="h_info">
                            <div class="h_basic">
                                <span class="h_name">@item.UserName</span> 
                                <input type="hidden" value="@ViewBag.Users_id" class="Users_id"/>
                                <input type="hidden" value='@Session["Users_id"]' class="SessionUsers_id" />
                                @if (@item.Sex == "女 ")
                                {
                                    <span class="h_gender girl">女</span>

                                }
                                else
                                {
                                    <span class="h_gender man">男</span>
                                }
                            </div>
                            <div class="h_sign">@item.UserSign</div>
                        </div>
                    }
                </div>
                <div class="h_action">
                    @if (@Session["Users_id"] != null)
                    {
                        if (@Session["Users_id"].ToString() == @ViewBag.Users_id)
                        {
                            <span class="h_follow" style="display: none;">关注</span>
                            <input class="h_follow_v" value="0" type="hidden"/>
                        }
                        else if (@Session["Guanzhu"].ToString() == "0")
                        {
                            <span class="h_follow">关注 </span>
                            <input class="h_follow_v" value="0" type="hidden"/>
                        }
                        else
                        {
                            <span class="h_follow">已关注</span>
                            <input class="h_follow_v" value="1" type="hidden"/>
                        }
                    }
                    else
                    {                       
                        <span class="h_follow">关注 </span>
                        <input class="h_follow_v" value="0" type="hidden"/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="toast_layer fade_transition gzcg" style="display: none;">关注成功！</div>
    <div class="toast_layer fade_transition qxgz" style="display: none;">取消关注成功！</div>
    <div class="n">
        <div class="wrapper">
            <div class="n_inner">
                <div class="n_tab_links">
                    <a class="n_btn" href="@Url.Action("UserCenter","UserInfo" , new {Users_id = @ViewBag.Users_id})">
                        <span class="n_icon n_icon_home"></span>
                        <span class="n_text">主页</span>
                    </a>
                    <a class="n_btn zl" href="javascript:void(0)">
                        <span class="n_icon n_icon_zl zl"></span>
                        <span class="n_text zl">资料</span>
                    </a>
                    <a class="n_btn" href="javascript:void(0)" style="display: none;">
                        <span class="n_icon n_icon_ly"></span>
                        <span class="n_text">留言</span>
                    </a>
                    @if (@Session["Users_id"] != null)
                    {
                        if (@Session["Users_id"].ToString() == @ViewBag.Users_id)
                        {
                            <a class="n_btn" href="@Url.Action("OrderDetails", "Mall")">
                                <span class="n_icon n_icon_dd"></span>
                                <span class="n_text">订单</span>
                            </a>
                            <a class="n_btn" href="javascript:void(0)">
                                <span class="n_icon n_icon_cg cg"></span>
                                <span class="n_text cg">草稿</span>
                            </a>
                        }
                    }


                    
                </div>
                <div class="n_statistics">
                    <a class="n_data n_gz" href="javascript:void(0)">
                        <p class="n_data_k">关注数</p>                     
                            <p class="n_data_v space_attention">@Model.UserA</p>                                           
                    </a>
                    <a class="n_data n_fs" href="javascript:void(0)">
                        <p class="n_data_k">粉丝数</p>
                        <p class="n_data_v space_fans">@Model.UserB</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="s_space" style="margin-top: 10px;">
        <div class="wrapper">
            <div class="_index" style="display: block;">
                @Html.Partial("_Index")
            </div>
            <div id="yuanchuang" style="display: none;">
                @{Html.RenderAction("_Yuanchuang", "UserInfo");}
            </div>
            <div id="langsong" style="display: none;">
                @{Html.RenderAction("_Langsong", "UserInfo");}
            </div>
            <div id="taolun" style="display: none;">
                @{Html.RenderAction("_Taolun", "UserInfo");}
            </div>
            <div class="geren">
                @if (@Session["Users_id"] != null)
                {
                    if (@Session["Users_id"].ToString() == @ViewBag.Users_id)
                    {
                        <div class="geren2" style="display: none;">
                            <div class="col_1">
                                <div class="section">
                                    <h3 class="section_title">
                                        <a class="t" href="javascript:void(0)">个人资料</a>
                                    </h3>
                                    <div class="content clearfix">
                                        <div class="gerenziliao">
                                            @using (Html.BeginForm("Ziliao", "UserInfo", FormMethod.Post, new {@class = "ZiliaoSend", enctype = "multipart/form-data"}))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="form-horizontal">
                                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.Users_id, "账号", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.Users_id, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly", style = "color:rgb(171, 171, 171);"}})
                                                        </div>
                                                    </div>
                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.UserName, "用户名", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.UserName, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.UserName, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>
                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.UserImage, "头像", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            <input type="file" name="UserImage" value="UserImage" class="file_a_a"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.UserPhone, "手机", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.UserPhone, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.UserPhone, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>

                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.UserMail, "邮箱", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.UserMail, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.UserMail, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>

                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.Sex, "性别", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.Sex, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.Sex, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>

                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.UserSign, "个性签名", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.UserSign, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.UserSign, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>

                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.SafeQues, "安全问题", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.SafeQues, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.SafeQues, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>

                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.Answer, "答案", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.Answer, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.Answer, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>

                                                    <div class="form-group ua">
                                                        @Html.LabelFor(model => model.UserInfo.Address, "地址", htmlAttributes: new {@class = "control-label col-md-2"})
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.UserInfo.Address, new {htmlAttributes = new {@class = "form-control"}})
                                                            @Html.ValidationMessageFor(model => model.UserInfo.Address, "", new {@class = "text-danger"})
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="保存" class="btn btn-default tijiao"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="geren1" style="display: none;">
                            @Html.Partial("_Gerenziliao1")
                        </div>
                    }
                }
                else
                {
                    <div class="geren1" style="display: none;">
                        @Html.Partial("_Gerenziliao1")
                    </div>
                }
            </div>

            <div class="GuanZhu" style="display: none;">
               @Html.Partial("_Guanzhu")
            </div>
            <div id="caogao" style="display: none;">
               @{Html.RenderAction("_Caogao", "UserInfo");} 
            </div>
          
            <div class="col_2">
                <div class="section user">
                    <div class="meta">
                        @foreach (var item in Model.Uses1)
                        {
                            <div class="row">
                                <div class="item uid"> <span class="icon"></span> <span class="text">@item.Users_id</span> </div>
                                <div class="item regtime" style="padding-left: 0px;"> <span class="icon"></span> <span class="text">注册于 @item.Addtime.Value.ToString("yyyy-MM-dd")</span> </div>
                            </div>
                            <div class="row">
                                <div class="item birthday"> <span class="icon"></span> <span class="text">积分 @item.Jifen</span>  </div>
                                <div class="item geo" style="padding-left: 0px;"> <span class="icon"></span> <span class="text">@item.UserMail</span>  </div>
                            </div>
                        }
                        
                    </div>
                       </div>
                    </div>             
                </div>
            </div>
        </div>
@section scripts{ 
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $(document).on('click', '.n_icon_home', function() {
                $("._index").css("display", "block");
                $(".geren1").css("display", "none");
            });
            $(document).on('click', '.cg', function () {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "none");
                $(".geren").css("display", "none");
                $(".GuanZhu").css("display", "none");
                $("#caogao").css("display", "block");
            });           
            $(document).on('click', '.zl', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "none");
                $(".GuanZhu").css("display", "none");
                $("#caogao").css("display", "none");
                if ($(".SessionUsers_id").val() != null) {
                    if ($(".SessionUsers_id").val() == $(".Users_id").val()) {
                        $(".geren2").css("display", "block");
                        $(".geren1").css("display", "none");
                    } else {
                        $(".geren2").css("display", "none");
                        $(".geren1").css("display", "block");
                    }
                } else {
                    $(".geren2").css("display", "none");
                    $(".geren1").css("display", "block");
                }
            });
            $(document).on('click', '.GuanZhu_gz', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "none");
                $(".geren").css("display", "none");
                $("#caogao").css("display", "none");
                $(".GuanZhu").css("display","block");
                $(".GuanZhu_gz").css("color", "#dd3b44");
                $(".GuanZhu_fs").css("color", "#000");
                $(".gz").css("display", "block");
                $(".fs").css("display", "none");
            });
            $(document).on('click', '.GuanZhu_fs', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "none");
                $(".geren").css("display", "none");
                $("#caogao").css("display", "none");
                $(".GuanZhu").css("display", "block");
                $(".GuanZhu_gz").css("color", "#000");
                $(".GuanZhu_fs").css("color", "#dd3b44");
                $(".gz").css("display", "none");
                $(".fs").css("display", "block");
            });

            $(document).on('click', '.n_gz', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "none");
                $(".geren").css("display", "none");
                $("#caogao").css("display", "none");
                $(".GuanZhu").css("display", "block");
                $(".GuanZhu_gz").css("color", "#dd3b44");
                $(".GuanZhu_fs").css("color", "#000");
                $(".gz").css("display", "block");
                $(".fs").css("display", "none");
            });
            $(document).on('click', '.n_fs', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "none");
                $(".geren").css("display", "none");
                $("#caogao").css("display", "none");
                $(".GuanZhu").css("display", "block");
                $(".GuanZhu_gz").css("color", "#000");
                $(".GuanZhu_fs").css("color", "#dd3b44");
                $(".gz").css("display", "none");
                $(".fs").css("display", "block");
            });


            $(document).on('click', '.more_yc', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "block");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "none");
            });
            $(document).on('click', '.more_ls', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "block");
                $("#taolun").css("display", "none");
            });
            $(document).on('click', '.more_tl', function() {
                $("._index").css("display", "none");
                $("#yuanchuang").css("display", "none");
                $("#langsong").css("display", "none");
                $("#taolun").css("display", "block");
            });


        });

        $(document).on('click', '.h_follow', function() {
            if ($(".h_follow_v").val() == "0") {
                //未关注
                //alert("111");
                $.ajax({
                    type: "post",
                    url: "/UserInfo/GuanZhu",
                    data: { UserB: $(".Users_id").val() },
                    success: function(data) {
                        $(".h_follow_v").val(1);
                        $(".h_follow").html("已关注");
                        $(".space_fans").html(data);
                        $(".gzcg").show().delay(2000).hide(300);
                    }
                });
            } else {
                //已关注
                //alert("222");
                var msg = "确定要取消关注嘛 QwQ";
                if (confirm(msg) == true) {
                    $.ajax({
                        type: "post",
                        url: "/UserInfo/QuXiaoGuanZhu",
                        data: { UserB: $(".Users_id").val() },
                        success: function(data) {
                            $(".h_follow_v").val(0);
                            $(".h_follow").html("关注");
                            $(".space_fans").html(data);
                            $(".qxgz").show().delay(2000).hide(300);

                        }
                    });
                } else {
                    return false;
                }

            }
        });
        //$(function() {

        //    $(".tijiao").click(function() {
        //        setTimeout(function () {

        //        }, 1000);

        //    });
        //});
    </script>

}


