@model Models.Ci

@{
    ViewBag.Title = "CiCreate";
    Layout = "~/Views/Shared/HouTai.cshtml";
}
<script type="text/javascript">
    var editorOption = {
        initialFrameWidth: 784,
        initialFrameHeight: 400
    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('CiContent');
</script>
<script type="text/javascript">
    var editorOption = {
        initialFrameWidth: 784,
        initialFrameHeight: 400
    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('CiFanyi');
</script>
<script type="text/javascript">
    var editorOption = {
        initialFrameWidth: 784,
        initialFrameHeight: 400
    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('CiShangxi');
</script>
<script type="text/javascript">
    var editorOption = {
        initialFrameWidth: 784,
        initialFrameHeight: 400
    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('Cibeijing');
</script>

@using (Html.BeginForm("CiCreate", "Shi", FormMethod.Post, new { id = "CreateForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="title_top">
            <p style="color:darkgrey">
                @Html.ActionLink("词集列表", "CiIndex")
            </p>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-left">请输入词名</p>
        <p>
            @Html.EditorFor(model => model.CiTitle, new { htmlAttributes = new { @class = "form-control", style = "width:50%;" } })
            @Html.ValidationMessageFor(model => model.CiTitle, "", new { @class = "text-danger" })
        </p>
        <p class="text-left">请选择词集类别</p>
        <p>
            <table>
                <tr>
                    <td>年代</td>
                    <td> &nbsp;</td>
                    <td>作者</td>
                    <td> &nbsp;</td>
                    <td>词牌名</td>
                </tr>
                <tr>
                    <td style="width:30%;">
                        @Html.ValidationMessageFor(model => model.Author_id, "", new { @class = "text-danger" })
                        <select id="t" name="Time_id"></select>
                            @*@Html.DropDownList("Author_id", null, htmlAttributes: new { @class = "form-control" })*@
                            
                     </td>
                    <td>&nbsp;</td>
                    <td style="width:30%;">
                        <select id="a" name="Author_id"></select>
                            @*@Html.DropDownList("Time_id", null, htmlAttributes: new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.Time_id, "", new { @class = "text-danger" })
                    </td>
                    <td>&nbsp;</td>
                    <td style="width:30%;">

                        @Html.DropDownList("Cipai_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cipai_id, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </p>
        <p class="text-left">
            <table>
                <tr>
                    <td style="width:40%;">
                        请选择上传图片
                    </td>
                    <td style="width:40%;">
                        请选择上传语音
                    </td>
                </tr>
                <tr>
                    <td style="width:40%;">
                        <input type="file" name="CiImage" value="CiImage" />
                    </td>
                    <td style="width:40%;">
                        <input type="file" name="CiYuying" value="CiYuying" />
                    </td>
                </tr>
            </table>


        </p>


        <p class="text-left">请输入内容</p>
        <p>

            @Html.TextAreaFor(model => model.CiContent)
        </p>
        <p class="text-left">请输入翻译</p>
        <p>

            @Html.TextAreaFor(model => model.CiFanyi)
        </p>
        <p class="text-left">请输入赏析</p>
        <p>

            @Html.TextAreaFor(model => model.CiShangxi)
        </p>
        <p class="text-left">请输入背景</p>
        <p>

            @Html.TextAreaFor(model => model.Cibeijing)
        </p>



        <p class="text-center">
            <input type="submit" value="添加" class="btn btn-default" style="width:60px;margin-right:1200px;" />
        </p>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "CiIndex")
</div>

@section scripts
    {
    <script type="text/javascript">
        $(function () {
            getTime();
            $('#t').change(function () {
                changeAuthor();
            });
        });
        function getTime() {
            $.getJSON('@Url.Action("GetTime","Shi")', function (data) {
                $('#t').empty();
                $.each(data, function (i, item) {
                    $('#t').append($('<option></option>').val(item.Value).text(item.Text));
                });
            });
        }
        function emptyAuthor(){
            $('#a').empty();
            $('#a').append($('<option></option>').val('').text('请选择'));
        }
        function changeAuthor() {
            //alter("da ");
            var selectedTimeId = $.trim($('#t option:selected').val());

            if(selectedTimeId.length==0){
                emptyAuthor();
            }
            else{
                $.getJSON('@Url.Action("GetAuthor","Shi")',{id:selectedTimeId},function(data){
                    $('#a').empty();
                    $.each(data,function(i,item){
                        $('#a').append($('<option></option>').val(item.Value).text(item.Text));
                    });
                });
            }
        }
    </script>

}


