@model PagedList.IPagedList<Models.Shi>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HouTai.cshtml";
}


<div class="container">
    <div class="title_top">
        <p style="color:darkgrey">
            @Html.ActionLink("添加诗集", "ShiCreate")
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 6%">诗集名</th>
                <th style="width: 12%">图片</th>
                <th style="width: 10%">作者</th>
                <th style="width: 10%">年代</th>
                <th style="width: 10%">类型</th>
                <th style="width: 10%">操作</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiTitle)
                </td>
                <td>
                    <img src="@item.ShiImage" style="width:60px;height:80px" />
                </td>
                
                <td>
                  
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time.TimeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiType.ShiTypeName)
                </td>
                <td>
                    <p>
                        @Html.ActionLink("更新", "Edit", new { id = item.Shi_id }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.Shi_id })
                    </p>
                </td>
            </tr>
        }

    </table>
    <div class="row page-list">
        <div class="col-xs-4 col-sm-6 col-md-6 pagejiye"></div>

        <div class="col-xs-6 col-sm-4 col-md-4 pagejiye">
            @Html.PagedListPager(Model, page => Url.Action("Index", "Shi", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 pageje">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>
</div>


