@model Models.Goods

@{
    ViewBag.Title = "GoodsEdit";
    Layout = "~/Views/Shared/HouTai.cshtml";
}
<script type="text/javascript">
    var editorOption = {
        initialFrameWidth: 784,
        initialFrameHeight: 400
    };
    var editor = new baidu.editor.ui.Editor(editorOption);
    editor.render('GoodsDetails');
</script>

@using (Html.BeginForm("GoodsCreate", "Goods", FormMethod.Post, new { id = "CreateForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="title_top">
            <p>商品更新</p>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Goods_id)
        <p class="text-left">请输入商品名</p>
        <p>
            @Html.EditorFor(model => model.GoodsName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GoodsName, "", new { @class = "text-danger" })
        </p>
        <p class="text-left">请选择商品类别</p>
        <p>
            @Html.DropDownList("GoodsK_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GoodsK_id, "", new { @class = "text-danger" })
        </p>

        <p class="text-left">请选择图片</p>
        <p>

            <input type="file" name="GoodsImage" value="Image1" />
        </p>

        <p class="text-left">请输入价格</p>
        <p>
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </p>

        <p class="text-left">请输入数量</p>
        <p>
            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
        </p>


        <p class="text-left">请输入简介</p>
        <p>
            @Html.EditorFor(model => model.GoodsJianjie, "", new { htmlAttributes = new { @class = "form-control aaa" } })
            @Html.ValidationMessageFor(model => model.GoodsJianjie, "", new { @class = "text-danger " })

        </p>

        <p class="text-left">请输入详情</p>
        <p>

            @Html.TextAreaFor(model => model.GoodsDetails)
        </p>

        <p class="text-center">
            <input type="submit" value="更新" class="btn btn-default" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
