@model Shiyun.Models.ChallengeViewModels
@{
    ViewBag.Title = "诗韵-挑战";
}
@section style
{
    <link href="~/Content/css/Challenge.css" rel="stylesheet" />
}
<section>
    <div class="totalbox">
        <div class="leftbox">@*1-3点字成诗；4-7选择正解；8-10诗词对句*@
            <div class="challengekname" id="challengekname1">点字成诗</div>
            <div class="challengekname" id="challengekname2" style="display: none;">选择正解</div>
            <div class="challengekname" id="challengekname3" style="display: none;">诗词对句</div>
            <div class="challengekname" id="challengekname4" style="display: none;">完成</div>
            <div class="jdt">
                <div class="unit" id="unit1">
                    <div class="line" id="line1" style="background-color: #4cd964; width: 35px;"></div>
                    <div class="number" id="number1" style="margin-left: 35px;">1</div>
                </div>
                <div class="unit" id="unit2">
                    <div class="line" id="line2" style="width: 35px;"></div>
                    <div class="number" id="number2" style="margin-left: 35px;">2</div>
                </div>
                <div class="unit" id="unit3">
                    <div class="line" id="line3" style="width: 35px;"></div>
                    <div class="number" id="number3" style="margin-left: 35px;">3</div>
                </div>
                <div class="unit" id="unit4">
                    <div class="line" id="line4" style="width: 35px;"></div>
                    <div class="number" id="number4" style="margin-left: 35px;">4</div>
                </div>
                <div class="unit" id="unit5">
                    <div class="line" id="line5" style="width: 35px;"></div>
                    <div class="number" id="number5" style="margin-left: 35px;">5</div>
                </div>
                <div class="line lastline" id="line5-5" style="width: 35px;"></div>
            </div>
            <div class="jdt">
                <div class="unit" id="unit6">
                    <div class="line" id="line6" style="width: 35px;"></div>
                    <div class="number" id="number6" style="margin-left: 35px;">6</div>
                </div>
                <div class="unit" id="unit7">
                    <div class="line" id="line7" style="width: 35px;"></div>
                    <div class="number" id="number7" style="margin-left: 35px;">7</div>
                </div>
                <div class="unit" id="unit8">
                    <div class="line" id="line8" style="width: 35px;"></div>
                    <div class="number" id="number8" style="margin-left: 35px;">8</div>
                </div>
                <div class="unit" id="unit9">
                    <div class="line" id="line9" style="width: 35px;"></div>
                    <div class="number" id="number9" style="margin-left: 35px;">9</div>
                </div>
                <div class="unit" id="unit10">
                    <div class="line" id="line10" style="width: 35px;"></div>
                    <div class="number" id="number10" style="margin-left: 35px;">10</div>
                </div>
                <div class="line lastline" id="line10-5" style="width: 35px;"></div>
            </div>
            <div class="timu" id="timu1">请从右侧十二个字中识别一句诗词</div>
            <div class="timu" id="timu2" style="display: none;">请从右侧四个选项中选择一个正确答案</div>
            <div class="timu" id="timu3" style="display: none;">请将右侧诗词中缺失句子补全</div>
            <div class="tips">每题只有一次机会请慎重答题</div>
            <div class="final" id="timu4" style="display: none;"></div>
        </div>
        @*1-3点字成诗；4-7选择正解；8-10诗词对句*@
        <div class="rightbox" id="rightbox1">
            @foreach (var item in Model.Challenge1)
            {
                <div class="jggbox">
                    <div class="jggline" style="margin-top: 80px;">
                        <div class="jiugongge 1-1">@item.C1</div>
                        <div class="jiugongge 1-2" style="margin-left: 20px;">@item.C2</div>
                        <div class="jiugongge 1-3" style="margin-left: 20px;">@item.C3</div>
                        <div class="jiugongge 1-4" style="margin-left: 20px;">@item.C4</div>
                    </div>
                    <div class="jggline" style="margin-top: 20px;">
                        <div class="jiugongge 1-5">@item.C5</div>
                        <div class="jiugongge 1-6" style="margin-left: 20px;">@item.C6</div>
                        <div class="jiugongge 1-7" style="margin-left: 20px;">@item.C7</div>
                        <div class="jiugongge 1-8" style="margin-left: 20px;">@item.C8</div>
                    </div>
                    <div class="jggline" style="margin-top: 20px;">
                        <div class="jiugongge 1-9">@item.C9</div>
                        <div class="jiugongge 1-10" style="margin-left: 20px;">@item.C10</div>
                        <div class="jiugongge 1-11" style="margin-left: 20px;">@item.C11</div>
                        <div class="jiugongge 1-12" style="margin-left: 20px;">@item.C12</div>
                    </div>
                </div>
                <input name="timu1id" id="timu1id" value="@item.Timu_id" type="hidden"/>
            }
            <div class="useranswer a_1"></div>
            <input id="userdaan1" name="userdaan1" value="0" type="hidden"/>
            <div class="tijiaobutton" id="btn1">下一题</div>
            <div class="fenshu fs1" style="display: none;"></div>
        </div>
    <div class="rightbox" id="rightbox2" style="display: none;">
        @foreach (var item in Model.Challenge2)
        {
            <div class="jggbox">
                <div class="jggline" style="margin-top: 80px;">
                    <div class="jiugongge 2-1">@item.C1</div>
                    <div class="jiugongge 2-2" style="margin-left: 20px;">@item.C2</div>
                    <div class="jiugongge 2-3" style="margin-left: 20px;">@item.C3</div>
                    <div class="jiugongge 2-4" style="margin-left: 20px;">@item.C4</div>
                </div>
                <div class="jggline" style="margin-top: 20px;">
                    <div class="jiugongge 2-5">@item.C5</div>
                    <div class="jiugongge 2-6" style="margin-left: 20px;">@item.C6</div>
                    <div class="jiugongge 2-7" style="margin-left: 20px;">@item.C7</div>
                    <div class="jiugongge 2-8" style="margin-left: 20px;">@item.C8</div>
                </div>
                <div class="jggline" style="margin-top: 20px;">
                    <div class="jiugongge 2-9">@item.C9</div>
                    <div class="jiugongge 2-10" style="margin-left: 20px;">@item.C10</div>
                    <div class="jiugongge 2-11" style="margin-left: 20px;">@item.C11</div>
                    <div class="jiugongge 2-12" style="margin-left: 20px;">@item.C12</div>
                </div>
            </div>
            <input name="timu2id" id="timu2id" value="@item.Timu_id" type="hidden" />
        }
        <div class="useranswer a_2"></div>
        <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
        <div class="tijiaobutton" id="btn2">下一题</div>
        <div class="fenshu fs2" style="display: none;"><input id="fs2" class="fs" value="0" type="hidden"/></div>
    </div>
        <div class="rightbox" id="rightbox3" style="display: none;">
            @foreach (var item in Model.Challenge3)
            {
                <div class="jggbox">
                    <div class="jggline" style="margin-top: 80px;">
                        <div class="jiugongge 3-1">@item.C1</div>
                        <div class="jiugongge 3-2" style="margin-left: 20px;">@item.C2</div>
                        <div class="jiugongge 3-3" style="margin-left: 20px;">@item.C3</div>
                        <div class="jiugongge 3-4" style="margin-left: 20px;">@item.C4</div>
                    </div>
                    <div class="jggline" style="margin-top: 20px;">
                        <div class="jiugongge 3-5">@item.C5</div>
                        <div class="jiugongge 3-6" style="margin-left: 20px;">@item.C6</div>
                        <div class="jiugongge 3-7" style="margin-left: 20px;">@item.C7</div>
                        <div class="jiugongge 3-8" style="margin-left: 20px;">@item.C8</div>
                    </div>
                    <div class="jggline" style="margin-top: 20px;">
                        <div class="jiugongge 3-9">@item.C9</div>
                        <div class="jiugongge 3-10" style="margin-left: 20px;">@item.C10</div>
                        <div class="jiugongge 3-11" style="margin-left: 20px;">@item.C11</div>
                        <div class="jiugongge 3-12" style="margin-left: 20px;">@item.C12</div>
                    </div>
                </div>
                <input name="timu3id" id="timu3id" value="@item.Timu_id" type="hidden" />
            }
            <div class="useranswer a_3"></div>
            <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
            <div class="tijiaobutton" id="btn3">下一题</div>
            <div class="fenshu fs3" style="display: none;"><input id="fs3" class="fs" value="0"  type="hidden"/></div>
        </div>
        @*1-3点字成诗；4-7选择正解；8-10诗词对句*@
    <div class="rightbox" id="rightbox4" style="display: none;">
        @foreach (var item in Model.Challenge4)
        {
            <div class="xuanze" id="xuanze1" style="margin-top: 80px;">@item.Timu</div>
            <div class="choosearea" style="margin-top: 10px;">
                <div class="choose" id="A1">
                    <div class="Aclass">A</div>@item.C1
                </div>
                <div class="choose" id="B1">
                    <div class="Aclass">B</div>@item.C2
                </div>
                <div class="choose" id="C1">
                    <div class="Aclass">C</div>@item.C3
                </div>
                <div class="choose" id="D1">
                    <div class="Aclass">D</div>@item.C4
                </div>
            </div>
            <input name="timu4id" id="timu4id" value="@item.Timu_id" type="hidden" />
        }
        <input class="useranswer a_4" type="hidden" value="0"/>
        <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
        <div class="tijiaobutton" id="btn4">下一题</div>
        <div class="fenshu fs4" style="display: none;"><input id="fs4" class="fs" value="0"  type="hidden"/></div>
    </div>
    <div class="rightbox" id="rightbox5" style="display: none;">
        @foreach (var item in Model.Challenge5)
        {
            <div class="xuanze" id="xuanze1" style="margin-top: 80px;">@item.Timu</div>
            <div class="choosearea" style="margin-top: 10px;">
                <div class="choose" id="A2">
                    <div class="Aclass">A</div>@item.C1
                </div>
                <div class="choose" id="B2">
                    <div class="Aclass">B</div>@item.C2
                </div>
                <div class="choose" id="C2">
                    <div class="Aclass">C</div>@item.C3
                </div>
                <div class="choose" id="D2">
                    <div class="Aclass">D</div>@item.C4
                </div>
            </div>
            <input name="timu5id" id="timu5id" value="@item.Timu_id" type="hidden" />
        }
        <input class="useranswer a_5" type="hidden" value="0" />
        <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
        <div class="tijiaobutton" id="btn5">下一题</div>
        <div class="fenshu fs5" style="display: none;"><input id="fs5" class="fs" value="0"  type="hidden"/></div>
    </div>
    <div class="rightbox" id="rightbox6" style="display: none;">
        @foreach (var item in Model.Challenge6)
        {
            <div class="xuanze" id="xuanze1" style="margin-top: 80px;">@item.Timu</div>
            <div class="choosearea" style="margin-top: 10px;">
                <div class="choose" id="A3">
                    <div class="Aclass">A</div>@item.C1
                </div>
                <div class="choose" id="B3">
                    <div class="Aclass">B</div>@item.C2
                </div>
                <div class="choose" id="C3">
                    <div class="Aclass">C</div>@item.C3
                </div>
                <div class="choose" id="D3">
                    <div class="Aclass">D</div>@item.C4
                </div>
            </div>
            <input name="timu6id" id="timu6id" value="@item.Timu_id" type="hidden" />
        }
        <input class="useranswer a_6" type="hidden" value="0" />
        <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
        <div class="tijiaobutton" id="btn6">下一题</div>
        <div class="fenshu fs6" style="display: none;"><input id="fs6" class="fs" value="0"  type="hidden"/></div>
    </div>
    <div class="rightbox" id="rightbox7" style="display: none;">
        @foreach (var item in Model.Challenge7)
        {
            <div class="xuanze" id="xuanze1" style="margin-top: 80px;">@item.Timu</div>
            <div class="choosearea" style="margin-top: 10px;">
                <div class="choose" id="A4">
                    <div class="Aclass">A</div>@item.C1
                </div>
                <div class="choose" id="B4">
                    <div class="Aclass">B</div>@item.C2
                </div>
                <div class="choose" id="C4">
                    <div class="Aclass">C</div>@item.C3
                </div>
                <div class="choose" id="D4">
                    <div class="Aclass">D</div>@item.C4
                </div>
            </div>
            <input name="timu7id" id="timu7id" value="@item.Timu_id" type="hidden" />
        }
        <input class="useranswer a_7" type="hidden" value="0" />
        <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
        <div class="tijiaobutton" id="btn7">下一题</div>
        <div class="fenshu fs7" style="display: none;"><input id="fs7" class="fs" value="0"  type="hidden"/></div>
    </div>
        @*1-3点字成诗；4-7选择正解；8-10诗词对句*@
        <div class="rightbox" id="rightbox8" style="display: none;">
            @foreach (var item in Model.Challenge8)
            {
                <div class="duijvtimu" style="margin-top: 80px;">@item.Timu</div>
                <div class="tianjvanswer">
                    <input class="tiankong a_8" type="text"/>
                </div>
                <input name="timu8id" id="timu8id" value="@item.Timu_id" type="hidden" />
            }
            <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
            <div class="tijiaobutton" id="btn8">下一题</div>
            <div class="fenshu fs8" style="display: none;"><input id="fs8" class="fs" value="0"  type="hidden"/></div>
        </div>
        <div class="rightbox" id="rightbox9" style="display: none;">
            @foreach (var item in Model.Challenge9)
            {
                <div class="duijvtimu" style="margin-top: 80px;">@item.Timu</div>
                <div class="tianjvanswer">
                    <input class="tiankong a_9" type="text" />
                </div>
                <input name="timu9id" id="timu9id" value="@item.Timu_id" type="hidden" />
            }
            <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
            <div class="tijiaobutton" id="btn9">下一题</div>
            <div class="fenshu fs9" style="display: none;"><input id="fs9" class="fs" value="0"  type="hidden"/></div>
        </div>
        <div class="rightbox" id="rightbox10" style="display: none;">
            @foreach (var item in Model.Challenge10)
            {
                <div class="duijvtimu" style="margin-top: 80px;">@item.Timu</div>
                <div class="tianjvanswer">
                    <input class="tiankong a_10" type="text" />
                </div>
                <input name="timu10id" id="timu10id" value="@item.Timu_id" type="hidden" />
            }
            <input id="userdaan1" name="userdaan1" value="0" type="hidden" />
            <div class="tijiaobutton" id="btn10">完成</div>
            <div class="fenshu fs10" style="display: none;"><input id="fs10" class="fs" value="0"  type="hidden"/></div>
        </div>
    <div class="rightbox" id="rightbox11" style="display: none;">
        <div class="fenshu fs11" style="display: none;"><input id="fs11" class="fs" value="0" type="hidden" /></div>
        <div class="finalshow">
            <div class="tabbox">
                <div class="tab">
                    <a href="javascript:;" class="on">1</a>
                    <a href="javascript:;">2</a>
                    <a href="javascript:;">3</a>
                    <a href="javascript:;">4</a>
                    <a href="javascript:;">5</a>
                    <a href="javascript:;">6</a>
                    <a href="javascript:;">7</a>
                    <a href="javascript:;">8</a>
                    <a href="javascript:;">9</a>
                    <a href="javascript:;">10</a>
                </div>
                <div class="content">
                    <ul>
                        @foreach (var item in Model.Challenge1)
                             {
                                 <li style="display: list-item;">
                                     <div class="xjggbox">
                                         <div class="xjggline" style="margin-top: 0px;">
                                             <div class="xjiugongge">@item.C1</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C2</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C3</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C4</div>
                                         </div>
                                         <div class="xjggline" style="margin-top: 10px;">
                                             <div class="xjiugongge">@item.C5</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C6</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C7</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C8</div>
                                         </div>
                                         <div class="xjggline" style="margin-top: 10px;">
                                             <div class="xjiugongge">@item.C9</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C10</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C11</div>
                                             <div class="xjiugongge" style="margin-left: 10px;">@item.C12</div>
                                         </div>
                                     </div>
                                     <div class="xanswer">正确答案：@item.AnswerA</div>
                                 </li>
                             }
                        @foreach (var item in Model.Challenge2)
                        {
                            <li>
                                <div class="xjggbox">
                                    <div class="xjggline" style="margin-top: 0px;">
                                        <div class="xjiugongge">@item.C1</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C2</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C3</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C4</div>
                                    </div>
                                    <div class="xjggline" style="margin-top: 10px;">
                                        <div class="xjiugongge">@item.C5</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C6</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C7</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C8</div>
                                    </div>
                                    <div class="xjggline" style="margin-top: 10px;">
                                        <div class="xjiugongge">@item.C9</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C10</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C11</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C12</div>
                                    </div>
                                </div>
                                <div class="xanswer">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge3)
                        {
                            <li>
                                <div class="xjggbox">
                                    <div class="xjggline" style="margin-top: 0px;">
                                        <div class="xjiugongge">@item.C1</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C2</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C3</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C4</div>
                                    </div>
                                    <div class="xjggline" style="margin-top: 10px;">
                                        <div class="xjiugongge">@item.C5</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C6</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C7</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C8</div>
                                    </div>
                                    <div class="xjggline" style="margin-top: 10px;">
                                        <div class="xjiugongge">@item.C9</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C10</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C11</div>
                                        <div class="xjiugongge" style="margin-left: 10px;">@item.C12</div>
                                    </div>
                                </div>
                                <div class="xanswer">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge4)
                        {
                            <li>
                                <div class="xxuanzearea" style="width: 90%;margin: 15px auto;text-align: center;">
                                    <div class="xxuanze">@item.Timu</div>
                                    <div class="xxuanxiang">A.@item.C1</div>
                                    <div class="xxuanxiang">B.@item.C2</div>
                                    <div class="xxuanxiang">C.@item.C3</div>
                                    <div class="xxuanxiang">D.@item.C4</div>
                                </div>
                                <div class="xanswer">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge5)
                        {
                            <li>
                                <div class="xxuanzearea" style="width: 90%;margin: 15px auto;text-align: center;">
                                    <div class="xxuanze">@item.Timu</div>
                                    <div class="xxuanxiang">A.@item.C1</div>
                                    <div class="xxuanxiang">B.@item.C2</div>
                                    <div class="xxuanxiang">C.@item.C3</div>
                                    <div class="xxuanxiang">D.@item.C4</div>
                                </div>
                                <div class="xanswer">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge6)
                        {
                            <li>
                                <div class="xxuanzearea" style="width: 90%;margin: 15px auto;text-align: center;">
                                    <div class="xxuanze">@item.Timu</div>
                                    <div class="xxuanxiang">A.@item.C1</div>
                                    <div class="xxuanxiang">B.@item.C2</div>
                                    <div class="xxuanxiang">C.@item.C3</div>
                                    <div class="xxuanxiang">D.@item.C4</div>
                                </div>
                                <div class="xanswer">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge7)
                        {
                            <li>
                                <div class="xxuanzearea" style="width: 90%;margin: 15px auto;text-align: center;">
                                    <div class="xxuanze">@item.Timu</div>
                                    <div class="xxuanxiang">A.@item.C1</div>
                                    <div class="xxuanxiang">B.@item.C2</div>
                                    <div class="xxuanxiang">C.@item.C3</div>
                                    <div class="xxuanxiang">D.@item.C4</div>
                                </div>
                                <div class="xanswer">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge8)
                        {
                            <li>
                                <div class="xtiankongarea" style="width: 90%;margin: 25px auto;text-align: center;">
                                    <div class="xtiankong">@item.Timu</div>
                                </div>
                                <div class="xanswer" style="font-size: 17px;">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge9)
                        {
                            <li>
                                <div class="xtiankongarea" style="width: 90%;margin: 25px auto;text-align: center;">
                                    <div class="xtiankong">@item.Timu</div>
                                </div>
                                <div class="xanswer" style="font-size: 17px;">正确答案：@item.AnswerA</div>
                            </li>
                        }
                        @foreach (var item in Model.Challenge10)
                        {
                            <li>
                                <div class="xtiankongarea" style="width: 90%;margin: 25px auto;text-align: center;">
                                    <div class="xtiankong">@item.Timu</div>
                                </div>
                                <div class="xanswer" style="font-size: 17px;">正确答案：@item.AnswerA</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="xianshifenshu">
                <span>本次挑战得分：</span><div class="defen" style="display: inline-block;"></div><br/>
                <span>个人挑战积分：+</span><div class="jifen" style="display: inline-block;"></div>
            </div>
            <div class="buttonarea">
                <a href="@Url.Action("Index","Home")"><div class="tijiaobutton" id="btn11" style="display: inline-block;">回到主页</div></a>
                <a href="@Url.Action("Index","Challenge")"><div class="tijiaobutton" id="btn12" style="display: inline-block; float: right;">再次挑战</div></a>
</div>
        </div>
        </div>
    </div>
</section>

@section scripts
{
<script src="~/Scripts/JS/Challenge.js"></script>
    <script type="text/javascript">

    </script>

}
