@using PagedList.Mvc;
@model PagedList.IPagedList<Models.ShiComment>

@{
    ViewBag.Title = "诗回复列表";
    Layout = "~/Views/Shared/HouTai.cshtml";
}

<div class="container">
    <div class="title_top">
        <p style="color:darkgrey">
            诗回复列表
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%">内容</th>
                <th style="width: 15%">时间</th>
                <th style="width: 30%">词标题</th>
                <th style="width: 25%">用户名</th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shi.ShiTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserInfo.UserName)
                </td>
            </tr>
        }

    </table>
    <div class="row page-list">
        <div class="col-xs-4 col-sm-6 col-md-6 pagejiye"></div>

        <div class="col-xs-6 col-sm-4 col-md-4 pagejiye">
            @Html.PagedListPager(Model, page => Url.Action("ScIndex", "ManagerAdd", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 pageje">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    </div>
</div>

