@model Models.Goods
@{
    ViewBag.Title = "诗韵—商品详情";
}
@section style
    {
    <link href="~/Content/css/GoodsDetails.css" rel="stylesheet"/>
}
@using (Html.BeginForm("jrgwc", "Mall", FormMethod.Post))
{

    @*@Html.HiddenFor(model=> model.goods.Goods_id)*@
    @Html.HiddenFor(model => model.Goods_id)
    <section>

        <div class="firstblo">
            <div class="showgoodimg">
                <img id="Image1" class="goodimg" src='../..@Model.GoodsImage' />
            </div>
            <div class="rightblo">
                <div class="showtitle">
                    <label id="title">@Model.GoodsName</label>
                </div>
                <div class="showjianjie">
                    <label id="jianjie">@Model.GoodsJianjie</label>
                </div>
                <div class="showjiage">
                    <span1>价格:</span1>&nbsp;&nbsp;¥&nbsp;<label id="jiage">@Model.Price</label>
                    @Html.HiddenFor(model => Model.Price)
                </div>
                <div class="fuwulei">
                    <hr style="border-top: 0.5px solid rgba(0, 0, 0, 0.2); width: 700px;" />
                    <span>支持：<i class="iconfont" style="font-size: 22px; color: #DD3B44;">&#xe71f;</i>&nbsp;199元顺丰包邮&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont" style="font-size: 18px; color: #DD3B44;">&#xe72e;</i>&nbsp;7天无理由退货</span>
                    <span>服务：本商品由 诗韵网 负责发货并提供售后服务</span>
                    <hr style="border-bottom: 0.2px solid rgba(0, 0, 0, 0.2); width: 700px;" />
                </div>
                <div class="gselect">
                    <div class="snum">
                        <span>数量：&nbsp;&nbsp;</span>
                        @Html.TextBoxFor(model => Model.Count, new { @class = "txtbox", id = "txtnum", value = "1" })
                        @*<input class="txtbox" id="txtnum" value="1">*@
                        <div id="up" class="up">+</div>
                        <div id="down" class="down">-</div>
                    </div>

                    <div class="tbutton">
                        @*<a href="@Url.Action("jrgwc", "Mall",new {count =Model.shopcars.Count })">*@
                        <button id="jrgwc" class="btnjrgwc" style="border: none; height: 40px; width: 120px; color: white; background-color: #DD3B44" type="submit">加入购物车</button>
                        @*</a>*@
                        @*<a href="@Url.Action("Index", "Mall")">*@
                        <button id="ljgm" name="ljgm" class="btnljgm" style="border: none; height: 40px; width: 120px; color: white; background-color: #DD3B44" type="submit" value="0">立即购买</button>
                        @*</a>*@
                        @*<asp:Button ID="jrgwc" runat="server" Text="加入购物车" CssClass="btnjrgwc" BorderStyle="None" Height="40px" Width="120px" ForeColor="White" BackColor="#DD3B44" OnClick="jrgwc_Click"/>
                            <asp:Button ID="ljgm" runat="server" Text="立即购买" CssClass="btnljgm" BorderStyle="None" Height="40px" Width="120px" ForeColor="White" BackColor="#DD3B44" OnClick="ljgm_Click"/>*@
                    </div>
                </div>
                <div class="showkucun">
                    <span>库存：&nbsp;&nbsp;</span><label id="kucun">@Model.Count</label><span>&nbsp;&nbsp;件</span>

                </div>
            </div>
        </div>
        <div class="secondblo">
            <span>深入了解</span>
            <hr style="border-top: 3px solid #DD3B44; width: 96%; margin-top: 20px; margin-bottom: 20px; margin-left: 30px;"/>
            <div class="contents">
                @Html.Raw(@Model.GoodsDetails)
            </div>
        </div>
        <div class="toast_layer fade_transition tjcg" style="display: none;">添加成功！</div>
        <div class="toast_layer fade_transition tjsb" style="display: none;">添加失败！</div>
        <div class="toast_layer fade_transition jrgwccg" style="display: none;">加入购物车成功！</div>
        <div class="toast_layer fade_transition jrgwcsb" style="display: none;">加入购物车失败！</div>
    </section>
}
@section scripts
    {
    <script type="text/javascript">
    var value = 1;
    $('#txtnum').val(value);
    $("#up").click(function() {
        var value = parseInt($('#txtnum').val()) + 1;
        if (value >= $('#kucun').text() * 1) {
            value = $('#kucun').text();
        }
        $('#txtnum').val(value);
    });
    $("#down").click(function() {
        var value = parseInt($('#txtnum').val()) - 1;
        if (value <= 0) {
            value = 1;
        }
        $('#txtnum').val(value);
    });
    $("#ljgm").click(function () {
        $('#ljgm').val(1);
    });
</script>
}


