@model IQueryable<Models.View_ShopCar>
@{
    ViewBag.Title = "诗韵-购物车";
}
@section style
{
    <link href="~/Content/css/ShopCar.css" rel="stylesheet" />
}
@*@using (Html.BeginForm("Update", "Mall", FormMethod.Post))
    {*@
<section>

    <div class="showshopcar">
        <span1>购物车</span1>
        <hr style="border-top: 3px solid #DD3B44; width: 100%; margin-top: 20px; margin-bottom: 60px;"/>
        <table class="table" style="width: 90%; margin: 0 auto; text-align: center;">
            <tr style="text-align: center;">
                <th style="width: 10%; margin: 0 auto; text-align: center;">
                    <input type="checkbox" id="quanxuan" style="width: 30px; margin: 0 auto;"/>全选
                </th>
                <th style="width: 20%; margin: 0 auto; text-align: center;">
                    @*@Html.DisplayName("商品图片")*@<label>商品图片</label>
                </th>
                <th style="width: 20%; margin: 0 auto; text-align: center;">
                    @Html.DisplayName("商品名称")
                </th>
                <th style="width: 10%; margin: 0 auto; text-align: center;">
                    @Html.DisplayName("商品价格")
                </th>
                <th style="width: 15%; margin: 0 auto; text-align: center;">
                    @Html.DisplayName("购买数量")
                </th>
                <th style="width: 10%; margin: 0 auto; text-align: center;">
                    @Html.DisplayName("小计")
                </th>
                <th style="width: 15%; margin: 0 auto; text-align: center;">
                    @Html.DisplayName("编辑")
                </th>
                <th>
                    
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 10%; margin: 0 auto; line-height: 100px;">
                        <input type="checkbox" name="subBox" style="width: 30px; margin: 0 auto;"/>
                    </td>
                    <td style="width: 20%; margin: 0 auto; line-height: 100px;">
                        <a href="@Url.Action("GoodsDetail", "Mall", new {id = @item.Goods_id})"><img src="@item.GoodsImage" style="width: 100px; height: 100px"/></a>
                    </td>
                    <td style="width: 20%; margin: 0 auto; line-height: 100px;">
                        @Html.DisplayFor(modelItem => item.GoodsName, new { @class = "goodsname"})
                        @*<input id="gid" type="hidden" value="@item.Goods_id"/>*@
                    </td>
                    <td style="width: 10%; margin: 0 auto; line-height: 100px;">
                        @*@Html.DisplayFor(modelItem => item.Price)*@
                        <input class="price" readonly="readonly" value="@Convert.ToDouble(@item.Price)" type="text" style="text-align: center; width: 100%;"/>
                    </td>
                    <td style="width: 15%; margin: 0 auto; line-height: 100px;">
                        @Html.TextBoxFor(modelItem => item.Count, new {@class = "txtbox", @readonly = "readonly", style = "border: none;"})
                    </td>
                    <td style="width: 10%; margin: 0 auto; line-height: 100px;">
                        @*@Html.DisplayFor(modelItem => item.FinalPrice, new { @class = "finalprice" })*@
                        <input class="finalprice" readonly="readonly" value="@Convert.ToDouble(@item.FinalPrice).ToString("0.00")" type="text" style="text-align: center; width: 100%;"/>
                    </td>
                    <td style="width: 15%; margin: 0 auto; line-height: 100px;">
                        <span class="edit" style="cursor: pointer;">编辑</span>
                        <a id="@item.Goods_id" class="update" style="display: none; cursor: pointer;">更新</a>|
                        @*@Html.ActionLink("更新", "Update", new {id = item.Goods_id}, new {@class = "update",style = "display:none;"})*@
                        @*@Ajax.ActionLink("更新", "Update", new { id = item.Goods_id,count=item.Count }, null)*@
                        @Ajax.ActionLink("删除", "Delete", new {id = item.Goods_id}, null)
                    </td>
                    <td><input id="gid" type="hidden" value="@item.Goods_id"/></td>
                </tr>
            }
        </table>

        <br/>
        <div class="koong">
            <label id="Label1" class="kong" style="display: none;">抱歉，您的购物车为空，请尽情挑选商品</label>
            <br/>
        </div>
        <div class="showprice">
            <label id="lbl1">已选商品：</label>
            <label id="lblnum">0</label><label>类</label>
            <label id="lbl2">合计：</label>
            <label id="lbltotprice">0.00</label><label>元</label>
            <div class="gwcbutton">
                <div id="jsuan" class="btn2" style="height: 30px; width: 85px; color: white; background-color: #DD3B44;">生成订单</div>
            </div>
        </div>
        
    </div>
    <input class="chuangzhi" style="display: none;" value="0"/>
</section>
@*}*@
@section scripts
{
    <script type="text/javascript">
        //购物车为空时的页面显示
        if ($(".price").val() == null) {
            $(".table").hide();
            $(".showprice").hide();
            $(".gwcbutton").hide();
            $(".btn").hide();
            $(".kong").show();
        }
        //更新数量
        $(function() {
            $(".edit").click(function() {
                $(this).hide();
                $(this).parent().prev().prev().children().removeAttr("readonly");
                $(this).parent().prev().prev().children().css("border", "1px solid #999");
                $(this).next().show();
            });
            $(".update").click(function() {
                $(this).hide();
                $(this).parent().prev().prev().children().attr("readonly", "readonly");
                $(this).parent().prev().prev().children().css("border", "none");
                $(this).prev().show();
                var finalprice = ($(this).parent().prev().prev().prev().children().val() * $(this).parent().prev().prev().children().val()).toFixed(2);
                $.ajax({
                    url: "/Mall/Update",
                    type: "post",
                    async: false,
                    //data: { id: $(".update").attr("id"), count: $(".txtbox").val() },
                    data: { id: $(this).attr("id"), count: $(this).parent().prev().prev().children().val() },
                    success: function(data) {
                        alert(data);
                        $(".chuangzhi").val(finalprice);
                    }
                });
                var chuangzhi = $(".chuangzhi").val();
                $(this).parent().prev().children().val(chuangzhi);
            });

        });
        //勾选框
        var $subBox = $("input[name='subBox']");
        $(function () {
            $("#quanxuan").click(function () {
                var tp = 0.00;
                var isChecked = $(this).prop("checked");
                $("input[name='subBox']").prop("checked", isChecked);
                var sumchoose = $("input[name='subBox']:checked").length;
                $("#lblnum").text(sumchoose);
                $($subBox).each(function () {
                    if (this.checked == true) {
                        tp += parseFloat($(this).parent().next().next().next().next().next().children().val());
                        $(this).parent().next().next().next().next().next().next().children().hide();
                    }
                    else {
                        tp = 0.00;
                        $(this).parent().next().next().next().next().next().next().children().show();
                        $(this).parent().next().next().next().next().next().next().children(":eq(1)").hide();
                    }
                });
                $("#lbltotprice").text(tp.toFixed(2));
            });
            $subBox.click(function () {
                if (this.checked == true) {
                    $("#quanxuan").prop("checked", false);
                    var sumchoose = $("input[name='subBox']:checked").length;
                    $("#lblnum").text(sumchoose);
                    var dprice = $(this).parent().next().next().next().next().next().children().val();
                    var tprice = ($("#lbltotprice").text() * 1 + dprice * 1).toFixed(2);
                    $("#lbltotprice").text(tprice);
                    $(this).parent().next().next().next().next().next().next().children().hide();
                    var len = $("input[name='subBox']").length;
                    //已选中的checkbox的个数
                    var checkedLen = $("input[name='subBox']:checked").length;
                    if (len == checkedLen) {
                        $('#quanxuan').prop('checked', true);
                    } else {
                        $('#quanxuan').prop('checked', false);
                    }
                } else {
                    $("#quanxuan").prop("checked", false);
                    var sumchoose = $("input[name='subBox']:checked").length;
                    $("#lblnum").text(sumchoose);
                    var dprice = $(this).parent().next().next().next().next().next().children().val();
                    var tprice = ($("#lbltotprice").text() * 1 - dprice * 1).toFixed(2);
                    $("#lbltotprice").text(tprice);
                    $(this).parent().next().next().next().next().next().next().children().show();
                    $(this).parent().next().next().next().next().next().next().children(":eq(1)").hide();
                }
            });
        });
        //结算
        $("#jsuan").click(function () {
            if ($("input[name='subBox']:checked").length > 0) {
                $($subBox).each(function () {
                    if (this.checked == true) {
                        var goodid = $(this).parent().next().next().next().next().next().next().next().children().val();
                        $.ajax({
                            url: "/Mall/Jiesuan",
                            type: "post",
                            async: false,
                            data: { id: goodid,sum:$("#lbltotprice").text()},
                            success: function(data) {
                                location.href = "/Mall/Order";
                            }
                        });
                    }
                    else {
                        //tp = 0.00;
                        //$(this).parent().next().next().next().next().next().next().children().show();
                        //$(this).parent().next().next().next().next().next().next().children(":eq(1)").hide();
                    }
                });
            }
            else {
                alert("请勾选您要购买的商品。");
            }
        });
    </script>
}


