@model IEnumerable<Models.UserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeQues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jingyan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jifen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafeQues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jingyan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jifen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Users_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Users_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Users_id })
        </td>
    </tr>
}

</table>
