@using PagedList.Mvc;
@using PagedList
@model PagedList.IPagedList<Models.View_PostIndex>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="leftbox_1">
        <div class="postdetail">
            <div id="ltvpostdetail">
                <div class="userimage" style="margin:5px 15px 0px 20px;">
                    <img id="imgUser" class="imgcssUser" src="@item.UserImage" style="width: 100%; height: 100%;" />
                </div>
                <a class="pl1" href="@Url.Action("PostDetails", "LunTan", new {luntanId = @item.LunTan_id, postId = @item.Post_id})">
                    <div class="posttitle" style="top: 18px;">@item.PostTitle</div>
                </a>
                    <div class="postname" style="top: 55px;">@item.UserName</div>
                    <div class="posttime" style="top: 55px;">@item.AddTime.Value.ToString("yyyy-MM-dd")</div>
                    <div class="postcontent">@Html.Raw(@item.PostDetails)</div>

                    <div class="pl">
                        <a class="pl1" href="@Url.Action("PostDetails", "LunTan", new {luntanId = @item.LunTan_id, postId = @item.Post_id})">
                            <span class="iconfont pl1">&#xe667;</span>
                        </a>
                    </div>
                    <div class="cai">
                        <span class="iconfont cai1">&#xe873;</span>
                        <span class="iconfont cai2" style="display: none;">&#xe872;</span>
                        <span class="cainum">@item.Post_down</span>
                    </div>
                    <div class="zan">
                        <span class="iconfont zan1">&#xe871;</span>
                        <span class="iconfont zan2" style="display: none;">&#xe870;</span>
                        <span class="zannum">@item.Post_upvote</span>
                    </div>
                    <input type="hidden" class="mp3url" value="@item.Mp3_Url" />
                    <input type="hidden" class="postid" value="@item.Post_id" />
                    <input type="hidden" class="luntanid" value="@item.LunTan_id" />
                    <input type="hidden" class="userid" value="@item.Users_id" />
</div>
        </div>
    </div>
}




<div class="row page-list">
    @*<div class="col-xs-4 col-sm-6 col-md-6 pagejiye"></div>*@
    <div class="col-xs-6 col-sm-4 col-md-4 pagejiye" style="width: 100%; ">
        @*@Html.PagedListPager(Model, page => Url.Action("YuanChuang", "LunTan", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter , luntanId = @ViewBag.LunTan_id}))*@
        @*@Html.PagedListPager(Model, page => Url.Action("YuanChuang", "LunTan", new {page, luntanId = @ViewBag.LunTan_id}), new PagedListRenderOptions{ LinkToFirstPageFormat = "首页", LinkToLastPageFormat = "尾页", MaximumPageNumbersToDisplay = 5})*@ @*LinkToPreviousPageFormat = "上一页", LinkToNextPageFormat = "下一页"   改文字*@
        @Html.PagedListPager(Model, page => Url.Action("GetAllPostPaihang", "LunTan", new { page, choose_id = @ViewBag.Choose_id }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions { LinkToFirstPageFormat = "首页", LinkToLastPageFormat = "尾页", MaximumPageNumbersToDisplay = 5 }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "GetAllPostPaihang" }))
    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 pageje">
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
   
</div>
