@using System.Activities.Statements
@model Shiyun.Models.LuntanIndex
@{
    ViewBag.Title = "诗韵论坛";
}
@section style{
    <link href="~/Content/css/Luntan-animation.css" rel="stylesheet" />
    <link href="~/Content/css/LunTan.css" rel="stylesheet" />
    @*<style type="text/css">
        #slider #first:hover>.tooltip,
        #slider #second:hover>.tooltip,
        #slider #third:hover>.tooltip,
        #slider #fourth:hover>.tooltip,
        #slider #fifth:hover>.tooltip
        {
	        left:0px;
        }
    </style>*@
}



<div class="Tribune-choose">
    <div class="cotenter">
        <ul>
            <li><a href="/LunTan/Index" style="text-decoration: none;" class="cssButton">首页</a></li>
            @foreach (var fenlei in Model.FenLei)
            {
                <li><a class="cssButton" href="javascript:void(0)">@fenlei.LunTanName</a></li>
            }
            @*<li><a class="cssButton" href="javascript:void(0)">原创区</a></li>
            <li><a class="cssButton" href="javascript:void(0)">朗诵区</a></li>
            <li><a class="cssButton" href="javascript:void(0)">讨论区</a></li>*@
        </ul>
    </div>
</div>
<section>
    <div class="leftbox">
        <div id="content-slider">
            <div id="slider">
                <div id="mask">
                    <ul>
                        <li id="first" class="firstanimation">
                            <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 1, postId = 20})">
                                <img src="/Images/LunTan/樱花.jpg" />
                            </a>
                            <div class="tooltip">
                                <h1>樱花</h1>
                            </div>
                        </li><!--第一张图片结束--->

                        <li id="second" class="secondanimation">
                            <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 3, postId = 73})">
                                <img src="/Images/LunTan/诗有含蓄方有味.jpg" />
                            </a>
                            <div class="tooltip">
                                <h1> 诗有含蓄方有味</h1>
                            </div>
                        </li><!--第二张图片结束--->

                        <li id="third" class="thirdanimation">
                            <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 1, postId = 24})">
                                <img src="/Images/LunTan/春意.jpg" />
                            </a>
                            <div class="tooltip">
                                <h1>春意</h1>
                            </div>
                        </li><!--第三张图片结束--->

                        <li id="fourth" class="fourthanimation">
                            <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 2, postId = 83})">
                                <img src="/Images/LunTan/芙蓉.jpg" />
                            </a>
                            <div class="tooltip">
                                <h1>涉江采芙蓉</h1>
                            </div>
                        </li><!--第四张图片结束--->

                        <li id="fifth" class="fifthanimation">
                            <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 3, postId = 69})">
                                <img src="/Images/LunTan/谈“以议论为诗”.jpg" />
                            </a>
                            <div class="tooltip">
                                <h1> 谈“以议论为诗”</h1>
                            </div>
                        </li><!--第五张图片结束--->
                    </ul>

                </div><!--mask end-->

                <div class="progerss-bar"></div><!--进度条结束-->
            </div><!--slider end-->
        </div><!--content-slider end-->
        <div class="hotpost">
            <div class="hotpost_1">
                <span class="hotpost_tittle">社区热帖</span>
                <div class="hotpost_list">
                    @foreach (var post in Model.HotPost)
                    {
                        <div class="postbox">
                            <div class="user_image">
                                <a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @post.Users_id})">
                                    <img id="imgUser" class="imgcssUser" src="@post.UserImage" style="width: 100%; height: 100%;"/>
                                </a>
                            </div>
                            <div class="hotpost_title">
                                <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = @post.LunTan_id, postId = @post.Post_id})" style="text-decoration: none;">@post.PostTitle</a>
                            </div>
                            <a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @post.Users_id})"><span class="user_name">@post.UserName</span></a>
                            <span class="addtime">@post.AddTime.Value.ToString("yyyy-MM-dd")</span>
                        </div>
                    }
                   @* <div class="postbox">
                        <div class="user_image"><img id="imgUser" class="imgcssUser" src="../../Images/userInfo/1.jpg" style="width: 100%; height: 100%;"/>
                        </div>
                        <div class="hotpost_title"><a href="javascript:void(0)" style="text-decoration: none;">帖子1</a>
                        </div>
                        <span class="user_name">用户1</span>
                        <span class="addtime">1996-07-06</span>
                    </div>
                    <div class="postbox">
        <div class="user_image"><img id="imgUser" class="imgcssUser" src="../../Images/userInfo/1.jpg" style="width: 100%; height: 100%;"/>
        </div>
        <div class="hotpost_title"><a href="javascript:void(0)" style="text-decoration: none;">帖子1</a>
        </div>
        <span class="user_name">用户1</span>
        <span class="addtime">1996-07-06</span>
    </div>
    <div class="postbox">
        <div class="user_image"><img id="imgUser" class="imgcssUser" src="../../Images/userInfo/1.jpg" style="width: 100%; height: 100%;"/>
        </div>
        <div class="hotpost_title"><a href="javascript:void(0)" style="text-decoration: none;">帖子1</a>
        </div>
        <span class="user_name">用户1</span>
        <span class="addtime">1996-07-06</span>
    </div>
    <div class="postbox">
        <div class="user_image"><img id="imgUser" class="imgcssUser" src="../../Images/userInfo/1.jpg" style="width: 100%; height: 100%;"/>
        </div>
        <div class="hotpost_title"><a href="javascript:void(0)" style="text-decoration: none;">帖子1</a>
        </div>
        <span class="user_name">用户1</span>
        <span class="addtime">1996-07-06</span>
    </div>
    <div class="postbox">
        <div class="user_image"><img id="imgUser" class="imgcssUser" src="../../Images/userInfo/1.jpg" style="width: 100%; height: 100%;"/>
        </div>
        <div class="hotpost_title"><a href="javascript:void(0)" style="text-decoration: none;">帖子1</a>
        </div>
        <span class="user_name">用户1</span>
        <span class="addtime">1996-07-06</span>
    </div>*@
                </div>
            </div>
        </div><!--hotpost end-->
        <div class="cssdltzonghetaolun">
            @foreach (var zonghe in Model.ZongheTaolun)
            {
                <div class="zonghetaolun">
                    <div class="zonghetaolun1">
                        <div class="leftimage">
                            <!--左部分图片-->
                            <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = @zonghe.LunTan_id, postId = @zonghe.Post_id})"><img src="@zonghe.PostImage" style="width: 100%; height: 100%;" /></a>
                        </div>
                        <span class="rightfenqu">综合讨论</span><!--右部分综合讨论-->
                        <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = @zonghe.LunTan_id, postId = @zonghe.Post_id})" style="text-decoration: none;"><label class="cssrighttitle">@zonghe.PostTitle</label></a> <!--帖子标题-->
                        <a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @zonghe.Users_id})"><label class="cssrightusername">@zonghe.UserName</label> </a><!--用户名-->
                        <label class="cssrighttime"> @zonghe.AddTime.Value.ToString("yyyy-MM-dd")</label> <!--发布日期-->
                        <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = @zonghe.LunTan_id, postId = @zonghe.Post_id})" style="text-decoration: none; color: rgb(221, 59, 68); font-size: 13px;"><span class="yueduquanwen">阅读全文</span></a>
                        <span class="rightdetails">@zonghe.PostJianjie</span>  <!--简介-->
                    </div>
                </div>
            }
            @*<div class="zonghetaolun">
                <div class="zonghetaolun1">
                    <div class="leftimage">
                        <!--左部分图片-->
                        <a href="javascript:void(0)"><img src="../../Images/LunTan/queti.jpg" style="width: 100%; height: 100%;"/></a>
                    </div>
                    <span class="rightfenqu">综合讨论</span><!--右部分综合讨论-->
                    <a href="javascript:void(0)" style="text-decoration: none;"><label class="cssrighttitle">这是帖子标题</label></a> <!--帖子标题-->
                    <label class="cssrightusername">用户名1</label> <!--用户名-->
                    <label class="cssrighttime"> 1996-01-04</label> <!--发布日期-->
                    <a href="javascript:void(0)" style="text-decoration: none; color: rgb(221, 59, 68); font-size: 13px;"><span class="yueduquanwen">阅读全文</span></a>
                    <span class="rightdetails">这里是长长的帖子简介</span>  <!--简介-->
                </div>
            </div>
            <div class="zonghetaolun">
                <div class="zonghetaolun1">
                    <div class="leftimage">
                        <!--左部分图片-->
                        <a href="javascript:void(0)"><img src="../../Images/LunTan/queti.jpg" style="width: 100%; height: 100%;"/></a>
                    </div>
                    <span class="rightfenqu">综合讨论</span><!--右部分综合讨论-->
                    <a href="javascript:void(0)" style="text-decoration: none;"><label class="cssrighttitle">这是帖子标题</label></a> <!--帖子标题-->
                    <label class="cssrightusername">用户名1</label> <!--用户名-->
                    <label class="cssrighttime"> 1996-01-04</label> <!--发布日期-->
                    <a href="javascript:void(0)" style="text-decoration: none; color: rgb(221, 59, 68); font-size: 13px;"><span class="yueduquanwen">阅读全文</span></a>
                    <span class="rightdetails">这里是长长的帖子简介</span>  <!--简介-->
                </div>
            </div>
            <div class="zonghetaolun">
                <div class="zonghetaolun1">
                    <div class="leftimage">
                        <!--左部分图片-->
                        <a href="javascript:void(0)"><img src="../../Images/LunTan/queti.jpg" style="width: 100%; height: 100%;"/></a>
                    </div>
                    <span class="rightfenqu">综合讨论</span><!--右部分综合讨论-->
                    <a href="javascript:void(0)" style="text-decoration: none;"><label class="cssrighttitle">这是帖子标题</label></a> <!--帖子标题-->
                    <label class="cssrightusername">用户名1</label> <!--用户名-->
                    <label class="cssrighttime"> 1996-01-04</label> <!--发布日期-->
                    <a href="javascript:void(0)" style="text-decoration: none; color: rgb(221, 59, 68); font-size: 13px;"><span class="yueduquanwen">阅读全文</span></a>
                    <span class="rightdetails">这里是长长的帖子简介</span>  <!--简介-->
                </div>
            </div>*@
        </div><!--zonghetaolun1 end-->       
    </div>
    <div class="rightbox">
        <div class="rightbox_2">
            <div class="paihang">
                <a href="@Url.Action("PostPaihang","LunTan",new {choose_id = 1})"><span class="paihang_title">原创排行</span></a>
                <ul>
                    @foreach (var ph in Model.PaiHang)
                    {
                        <li><a href="@Url.Action("PostDetails", "LunTan", new {luntanId = @ph.LunTan_id, postId = @ph.Post_id})"><span class="paihang_span2">@ph.PostTitle</span></a><a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @ph.Users_id})"><span class="paihang_span3">@ph.UserName</span></a></li>
                    }
                    @*<li><a href="javascript:void(0)"><span class="paihang_span2">咏春</span><span class="paihang_span3">张三</span></a></li>
                    <li><a href="javascript:void(0)"><span class="paihang_span2">咏春</span><span class="paihang_span3">张三</span></a></li>
                    <li><a href="javascript:void(0)"><span class="paihang_span2">咏春</span><span class="paihang_span3">张三</span></a></li>*@
                </ul>
            </div>
            <div class="weibo">
                <!--微博图片-->
                <img src="~/Images/LunTan/weibo.jpg" style="width: 100%;"/>
            </div>
            <div class="xinren">
                <!--新人课堂部分-->
                <span>新人课堂</span>
                <img src="~/Images/LunTan/guide.jpg" style="width: 100%;"/>
                <ul style="margin-top: 20px;">
                    <li><a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 3, postId = 79})">新人指引</a></li>
                    <li><a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 3, postId = 84})">社区版规</a></li>
                    <li><a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 3, postId = 81})">反馈建议</a></li>
                    <li><a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 3, postId = 80})">服务支持</a></li>
                </ul>
            </div>
            <div class="sheyin">
                <!--留声图片-->
                <span>留声馆</span>
                <div class="imgListcontent">
                    <!--图片轮播部分-->
                    <ul class="imgList" style="display: block;">
                        <!--图片框-->
                        <li>

                            <div class="shadow1 shadow">
                                <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 2, postId = 108})" target="_blank">
                                    <div class="shadow_name">永遇乐京口北固亭怀古</div>
                                </a>
                                    <div class="mp3">
                                        <i class="iconfont play1" style="cursor: pointer;">&#xe609;</i>
                                        <i class="iconfont pause1" style="display: none; cursor: pointer;">&#xe60b;</i>
                                        <audio controls="controls" class="music1" style="display: none;">
                                            <source src="/MP3/luntan/201706081715182712037永遇乐_京口北固亭怀古.m4a" type="audio/mpeg" />
                                        </audio>
                                    </div>

</div>
                                <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 2, postId = 108})" target="_blank">
                                    <img id="imgList1" src="../../Images/Home/a.png" style="width: 100%; height: 200px; background: rgba(215, 210, 210, 0) url(../Images/LunTan/t1.jpg) no-repeat center; border-radius: 4px;" />
                                </a>
                        </li><!--设置背景颜色兼容-->
                        <li>

                            <div class="shadow2 shadow">
                                <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 2, postId = 114})">
                                <div class="shadow_name">滕王阁序</div>
                                    </a>
                                    <div class="mp3">
                                        <i class="iconfont play2" style="cursor: pointer;">&#xe609;</i>
                                        <i class="iconfont pause2" style="display: none; cursor: pointer;">&#xe60b;</i>
                                        <audio controls="controls" class="music2" style="display: none;">
                                            <source src="/MP3/luntan/201706081728573442746滕王阁序孙道临.mp3" type="audio/mpeg" />
                                        </audio>
                                    </div>
</div>
                                <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 2, postId = 114})">
                                    <img id="imgList2" src="../../Images/Home/a.png" style="width: 100%; height: 200px; background: rgba(215, 210, 210, 0) url(../Images/LunTan/t2.jpg) no-repeat center; border-radius: 4px;" />
                                </a>
                        </li>
                        <li>

                            <div class="shadow3 shadow">
                                <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 2, postId = 109})">
                                <div class="shadow_name">咏怀古迹其三</div>
                                    </a>
                                    <div class="mp3">
                                        <i class="iconfont play3" style="cursor: pointer;">&#xe609;</i>
                                        <i class="iconfont pause3" style="display: none; cursor: pointer;">&#xe60b;</i>
                                        <audio controls="controls" class="music3" style="display: none;">
                                            <source src="/MP3/luntan/201706081716075882644咏怀古迹其三_杜甫.m4a" type="audio/mpeg" />
                                        </audio>
                                    </div>
</div>
                            <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = 2, postId = 109})">
                                <img id="imgList3" src="../../Images/Home/a.png" style="width: 100%; height: 200px; background: rgba(215, 210, 210, 0) url(../Images/LunTan/t3.jpg) no-repeat center; border-radius: 4px;" />
                            </a>
                        </li>

                    </ul>
                    <ol id="bannerCtrl" class="nav paging">
                        <li><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>2</a></li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</section>


@section scripts{
<script src="~/Scripts/slider.js"></script>
<script type="text/javascript">
    $(function() {
        var headerSlider = new Slider($("section .imgListcontent"), {
            time: 3000,
            delay: 400,
            event: 'hover',
            auto: false,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });
    });
    $(function() {
        $('.paihang ul').children(":eq(0)").children().append('<span class="paihang_span1">1</span>');
        $('.paihang ul').children(":eq(1)").children().append('<span class="paihang_span1">2</span>');
        $('.paihang ul').children(":eq(2)").children().append('<span class="paihang_span1">3</span>');
    });
    $(function() {
        
    });
    $(function () {
        $(".play1").click(function() {
            $(".pause1").show(); $(".play1").hide(); $(".music1").trigger('play'); $(".pause2").hide(); $(".play2").show(); $(".music2").trigger('pause'); $(".pause3").hide(); $(".play3").show(); $(".music3").trigger('pause');
        });
        $(".pause1").click(function() {
            $(".pause1").hide(); $(".play1").show(); $(".music1").trigger('pause');
        });
        $(".play2").click(function () { $(".pause2").show(); $(".play2").hide(); $(".play2").next().next().trigger('play'); $(".pause1").hide(); $(".play1").show(); $(".music1").trigger('pause'); $(".pause3").hide(); $(".play3").show();  $(".music3").trigger('pause'); });
        $(".pause2").click(function () {$(".pause2").hide(); $(".play2").show(); $(".play2").next().next().trigger('pause');});
        $(".play3").click(function () { $(".pause3").show(); $(".play3").hide(); $(".play3").next().next().trigger('play'); $(".pause1").hide(); $(".play1").show(); $(".music1").trigger('pause'); $(".pause2").hide(); $(".play2").show(); $(".music2").trigger('pause'); });
        $(".pause3").click(function () {$(".pause3").hide(); $(".play3").show(); $(".play3").next().next().trigger('pause');});
        $(".imgList a #imgList1,.imgList a #imgList2,.imgList a #imgList3").hover(function () {
            $(".shadow").css("left", "0px");
        }, function() {
            $(".shadow").css("left", "-200px");
        });
        $(".shadow").hover(function () {
            $(this).css("left", "0");
        }, function () {
            $(this).css("left", "-200px");
        });

    
    });
    $(function () {
        $(".Tribune-choose .cotenter ul").children(":eq(1)").children().click(function () {
            $.ajax({
                type: "post",
                url: "/LunTan/GetAllPost",
                data: { luntanId: 1 },
                success: function (data) {
                    location.href = "/LunTan/YuanChuang?luntanId=1";
                }
            });
        });
        $(".Tribune-choose .cotenter ul").children(":eq(2)").children().click(function () {
            $.ajax({
                type: "post",
                url: "/LunTan/GetAllPost",
                data: { luntanId: 2 },
                success: function (data) {
                    location.href = "/LunTan/YuanChuang?luntanId=2";
                }
            });
        });
        $(".Tribune-choose .cotenter ul").children(":eq(3)").children().click(function () {
            $.ajax({
                type: "post",
                url: "/LunTan/GetAllPost",
                data: { luntanId: 3 },
                success: function (data) {
                    location.href = "/LunTan/YuanChuang?luntanId=3";
                }
            });
        });
    });

</script>
}
