@model Shiyun.Models.LuntanIndex
@{
    ViewBag.Title = "帖子详情";
}
@section style{
    <link href="~/Content/css/PostDetails.css" rel="stylesheet" />
    <style>
    </style>
}
<div class="Tribune-choose">
    <div class="cotenter">
        <ul>
            <li><a href="/LunTan/Index" style="text-decoration: none;" class="cssButton">首页</a></li>
            @foreach (var fenlei in Model.FenLei)
            {
                <li><a class="cssButton" href="javascript:void(0)">@fenlei.LunTanName</a></li>
            }
        </ul>
    </div>
</div>
<section>
    <div class="leftbox">
        <div class="leftbox1">
            <div class="leftbox_1">
                <div class="cssdltnowluntan" id="dltnowluntan"><!--当前位置-->
                    <a href="javascript:void(0)"><span class="nowluntan">互动论坛 ></span></a>
                    @foreach (var ln in Model.LuntanName)
                    {
                        <a href="@Url.Action("YuanChuang", "LunTan", new {luntanId = @ln.LunTan_id})" style="text-decoration: none">
                            <span class="nowluntan2">@ln.LunTanName</span>
                        </a>
                    }
                </div>
                <div class="postdetail">
                    @foreach (var pd in Model.PostDetails)
                    {
                        <div id="ltvpostdetail">
                            <div class="userimage">
                                <a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @pd.Users_id})">
                                    <img id="imgUser" class="imgcssUser" src="@pd.UserImage" style="width: 100%; height: 100%;" />
                                </a>
                            </div>
                            <div class="posttitle">@pd.PostTitle</div>
                            <a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @pd.Users_id})"><div class="postname">@pd.UserName</div></a>
                            <div class="posttime">@pd.AddTime</div>
                            <div class="postcontent">@Html.Raw(pd.PostDetails)</div>
                            <audio controls="controls" class="music" style="display: none;">
                                <source src="@pd.Mp3_Url" type="audio/mpeg"/>
                            </audio>
                            <input type="hidden" class="mp3url" value="@pd.Mp3_Url"/>
                            <input type="hidden" class="postid" value="@pd.Post_id"/>
                            <input type="hidden" class="luntanid" value="@pd.LunTan_id"/>
                            <input type="hidden" class="userid" value="@pd.Users_id"/>
                        </div>
                    
                        <div class="zan"><span class="iconfont zan1">&#xe871;</span><span class="iconfont zan2" style="display: none;">&#xe870;</span><span class="zannum">@pd.Post_upvote</span></div>
                        <div class="cai"><span class="iconfont cai1">&#xe873;</span><span class="iconfont cai2" style="display: none;">&#xe872;</span><span class="cainum">@pd.Post_down</span></div>
                    }
                    <input id="btnpinglun" class="csspinglun" value="评论" readonly="readonly" type="submit"/>
                    <input id="btndelete" class="cssShanchu" value="删除" readonly="readonly" style="display: none"/>
                    <input type="hidden" class="Hidden1" id="hfdpinglun" value=""/>
                    <hr style="border-bottom: 1px solid #E6E6E6; display: block; float: right; margin: 25px 0px 0px; width: 100%;"/>

                </div>
                <div id="getAllPostReply">
                    @{Html.RenderAction("GetAllPostReply", "LunTan");}
                </div>
            </div>
        </div>
        <lable id="PLhidden" style="display: none;"></lable>
        @using (Ajax.BeginForm("Pinglun", "LunTan", new AjaxOptions {HttpMethod = "post", UpdateTargetId = "PLhidden"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="huifu">
                <div class="huifu_1">
                    @Html.HiddenFor(model => model.PostReply.Post_id, new {@Value = @ViewBag.Post_id})
                    @Html.HiddenFor(model => model.PostReply.ReReply_id, new {@Value = "", @class = "rereid"})
                    <div class="Main">
                        @Html.TextAreaFor(model => model.PostReply.ReplyContent, htmlAttributes: new {@class = "ckeditor form-control Input_text con", id = "TextBox1", style = "width: 100%; height: 100px;"})
                        @Html.ValidationMessageFor(model => model.PostReply.ReplyContent, "", new {@class = "text-danger"})
                        <input value="确定" class="queding" type="submit"/>

                        @*<div class="Input_Box">
                        <textarea id="TextBox1" class="Input_text"></textarea>
                        <div class="faceDiv"> </div>
                        <div class="Input_Foot">
                            <a class="imgBtn" href="javascript:void(0);"></a>
                            <input id="btnsubmit " value="确定" class="postBtn"/>
                        </div>
                    </div>*@
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="rightbox">
        <div class="tuijian">
            <span style="width: 100%; display: block; font-size: 17px; color: rgb(221, 59, 68); padding-bottom: 15px; border-bottom: 1px solid #E6E6E6;">推荐阅读</span>
            @foreach (var item in Model.ZongheTaolun)
            {
                <div id="ltvtuijian">
                    <div>
                        <a class="tuijiantitle" href='javascript:void(0)' style="text-decoration: none; color: #515151; line-height: 44px;">
                            @item.PostTitle
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div class="toast_layer fade_transition plcg" style="display: none;">评论成功！</div>
<div class="toast_layer fade_transition sccg" style="display: none;">删除成功！</div>
@section scripts{
    <script src="~/Scripts/ckeditor-face/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor-face/config.js"></script> 
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $(document).on('click', '.zan1', function () {   //赞 
                //$(".zan1").click(function () {   
                var postId = $(".postid").val();
                var zannum = $(this).next().next();
               
                //$(this).next().css("display", "block");
                //$(this).css("display", "none");
                $.ajax({
                    type: "post",
                    url: "/LunTan/Zan",
                    data: { postId: postId },
                    success: function (data) {
                        zannum.html(data);
                    }
                });
            });
            //$(".zan2").click(function () {   //赞2
            //    var a = $(this).parent().next().next().next().next().val();
            //    alert(a);
            //    $(this).prev().css("display", "block");
            //    $(this).css("display", "none");
            //});
            $(document).on('click', '.cai1', function () { //踩1
                var postId = $(".postid").val();
                var cainum = $(this).next().next();
                //$(this).next().css("display", "block");
                //$(this).css("display", "none");
                $.ajax({
                    type: "post",
                    url: "/LunTan/Cai",
                    data: { postId: postId },
                    success: function (data) {
                        cainum.html(data);
                    }
                });

            });
            //$(".cai2").click(function () {   //踩2
            //    var a = $(this).parent().next().next().next().val();
            //    alert(a);
            //    $(this).prev().css("display", "block");
            //    $(this).css("display", "none");
            //});


        });
        $(function() {
            $(".Tribune-choose .cotenter ul").children(":eq(1)").children().click(function() {
                $.ajax({
                    type: "post",
                    url: "/LunTan/GetAllPost",
                    data: { luntanId: 1 },
                    success: function(data) {
                        location.href = "/LunTan/YuanChuang?luntanId=1";
                    }
                });
            });
            $(".Tribune-choose .cotenter ul").children(":eq(2)").children().click(function() {
                $.ajax({
                    type: "post",
                    url: "/LunTan/GetAllPost",
                    data: { luntanId: 2 },
                    success: function(data) {
                        location.href = "/LunTan/YuanChuang?luntanId=2";
                    }
                });
            });
            $(".Tribune-choose .cotenter ul").children(":eq(3)").children().click(function() {
                $.ajax({
                    type: "post",
                    url: "/LunTan/GetAllPost",
                    data: { luntanId: 3 },
                    success: function(data) {
                        location.href = "/LunTan/YuanChuang?luntanId=3";
                    }
                });
            });
        });
        $(function() {
            $(".csspinglun").click(function() { //点击评论
                //给rereply改变值
                var b = "";
                $(".Hidden1").val(null);
                var re = $(".Hidden1").val();
                $(".rereid").val(re);
                //alert($(".rereid").val());
                //跳转到底部
                var webheight = document.body.scrollHeight; //网页高度
                $('body,html').animate({ scrollTop: webheight - 1150 }, 1000);
                $('body,html').off("mousewheel", preventScroll); //去除scrollTop=0对滚动的限制             
            });
            $(document).on('click', '.cssbtnReply', function() {
                //给rereply改变值
                var replyid = $(this).next().val();
                $(".Hidden1").val(replyid);
                var re = $(".Hidden1").val();
                $(".rereid").val(re);
                //alert($(".rereid").val());
                //跳转到底部        
                var webheight = document.body.scrollHeight; //网页高度
                $('body,html').animate({ scrollTop: webheight - 1150 }, 1000);
                $('body,html').off("mousewheel", preventScroll); //去除scrollTop=0对滚动的限制
            });
            //$(".cssbtnReply").click(function () {  //点击回复
            //    //给rereply改变值
            //    var replyid = $(this).next().val();
            //    $(".Hidden1").val(replyid);
            //    var re = $(".Hidden1").val();
            //    $(".rereid").val(re);
            //    alert($(".rereid").val());
            //    //跳转到底部        
            //    var webheight = document.body.scrollHeight; //网页高度
            //    $('body,html').animate({ scrollTop: webheight - 1150 }, 1000);
            //    $('body,html').off("mousewheel", preventScroll); //去除scrollTop=0对滚动的限制
            //});
            //$(".cssbtnReply").unbind("click");
            $(".queding").click(function() { //提交评论                   
                //var time = setInterval 
                //clearInterval(time);     
                setTimeout(function() {
                    var plHidden = $("#PLhidden").text();
                    if (plHidden == "aa") {
                        $.ajax({
                            type: "post",
                            url: "/LunTan/GetAllPostReply",
                            data: { postId: $(".postid").val(), luntanId: $(".luntanid").val() },
                            success: function(data) {
                                $("#getAllPostReply").html(data);
                                //回到顶部
                                $('body,html').animate({ scrollTop: 200 }, 1000);
                                $('body,html').off("mousewheel", preventScroll); //去除scrollTop=0对滚动的限制
                                //$(".plcg").show().delay(2000).hide(300);
                            }
                        });
                    } else {
                    }

                }, 1000);

            });
            //显示删除按钮
            var uid = $(".userid").val();
            if (uid == "@Session["Users_id"]") {
                $(".cssShanchu").css("display", "block");
            } else {
                $(".cssShanchu").css("display", "none");
            }
            $(".cssShanchu").click(function() { //删除
                $.ajax({
                    type: "post",
                    url: "/LunTan/ShanChu",
                    data: { postId: $(".postid").val() },
                    success: function(data) {
                        if (data == "aa") {
                            confirm("确定删除吗？");
                            var luntanid = $(".luntanid").val();
                            location.href = "/LunTan/YuanChuang?luntanId=" + luntanid;
                            //$(".sccg").show().delay(2000).hide(300);
                        } else {
                        }

                    }
                });
            });
            //显示MP3区域
            if ($(".mp3url").val().length > 33) {
                $(".music").css("display", "block");
            } else {
                $(".music").css("display", "none");
            }


        });
        $(function() {
            $.ajax({
                type: "post",
                url: "/LunTan/AddClick",
                data: { postId: $(".postid").val() },
                success: function(data) {
                 
                        //alert(data);
                    
                }
            });
        });
    </script>

}
