@model Shiyun.Models.LuntanIndex
@{
    ViewBag.Title = "诗韵论坛-原创区";
}
@section style{
    <link href="~/Content/css/YuanChuang.css" rel="stylesheet"/>
    <style type="text/css">
        .pagination-container{
            margin: 0 auto;
            text-align: center;
}
        .zan1:hover ,.cai1:hover {
             color: #c03f3c;
                transition: color 0.2s linear;
                -webkit-transition: color 0.2s linear;
                -moz-transition: color 0.2s linear;
        }
    </style>
}


<div class="Tribune-choose">
    <div class="cotenter">
        <ul>
            <li><a href="/LunTan/Index" style="text-decoration: none;" class="cssButton">首页</a></li>
            @foreach (var fenlei in Model.FenLei)
            {
                <li><a class="cssButton" href="javascript:void(0)">@fenlei.LunTanName</a></li>
            }
        </ul>
    </div>
</div>
<section>
    <div class="leftbox">
        <div class="leftbox1">
            <div class="leftbox_1">
                @*<asp:DataList ID="dltnowbankuai" runat="server" CssClass="cssdltnowbankuai">
                    <ItemTemplate>*@
                @foreach (var ltn in Model.LuntanName)
                {
                    <span class="nowbankuai">当前版块：@ltn.LunTanName</span>

                    <a id="Button3" class="sendPost" href="@Url.Action("PostSend", "LunTan", new {luntanId = @ltn.LunTan_id})">发帖</a>
                }
                <a href="javascript:void(0)"></a>
                @*<asp:DataList ID="dltzhiding1" runat="server" CssClass="">
                    <ItemTemplate>*@
                <div class="cssdltzhiding1">
                    @foreach(var item in Model.YuanChuangZd)
                    {
                        <div class="postbox">
                            <div class="user_image">
                                <img class="imgcssUser" style="width: 100%; height: 100%;" src="@item.UserImage" />
                            </div>
                            <div class="hotpost_title">
                                <a href="@Url.Action("PostDetails", "LunTan", new {luntanId = @item.LunTan_id, postId = @item.Post_id})" style="text-decoration: none; color: rgb(221, 59, 68);"><span class="iconfont">&#xe69e;&nbsp;</span>@item.PostTitle</a>
                            </div>
                            <a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @item.Users_id})"><span class="user_name">@item.UserName</span></a>
                            <span class="addtime">@item.AddTime</span>
                        </div>
                    }

                    @*<div class="postbox">
                        <div class="user_image">
                            <img  class="imgcssUser" style="width: 100%; height: 100%;" src=""/>                         
                        </div>
                        <div class="hotpost_title">
                            <a href="javascript:void(0)" style="text-decoration: none; color: rgb(221, 59, 68);"><span class="iconfont">&#xe644;&nbsp;</span><%#Eval("PostTitle") %></a>
                        </div>
                        <span class="user_name"><%#Eval("UserName") %></span>
                        <span class="addtime">1996-05-22</span>
                    </div>
                    <div class="postbox">
                        <div class="user_image">
                            <img  class="imgcssUser" style="width: 100%; height: 100%;" src=""/>
                        </div>
                        <div class="hotpost_title">
                            <a href="javascript:void(0)" style="text-decoration: none; color: rgb(221, 59, 68);"><span class="iconfont">&#xe644;&nbsp;</span><%#Eval("PostTitle") %></a>
                        </div>
                        <span class="user_name"><%#Eval("UserName") %></span>
                        <span class="addtime">1996-05-22</span>
                    </div>
                    <div class="postbox">
                        <div class="user_image">
                            <img  class="imgcssUser" style="width: 100%; height: 100%;" src="" />
                        </div>
                        <div class="hotpost_title">
                            <a href="javascript:void(0)" style="text-decoration: none; color: rgb(221, 59, 68);"><span class="iconfont">&#xe644;&nbsp;</span><%#Eval("PostTitle") %></a>
                        </div>
                        <span class="user_name"><%#Eval("UserName") %></span>
                        <span class="addtime">1996-05-22</span>
                    </div>*@
                </div>

                <div class="refresh">
                    <div id="Button2" class="iconfont refresh_1">版块主题&nbsp;&#xe6a4;</div>
                </div>
                <div id ="GetAllPost">
                    @{Html.RenderAction("GetAllPost", "LunTan");}
                   
                </div>
                @*@foreach (var po in Model.AllPost)
                {
                    <div class="postbox">
                        <div class="user_image">
                            <img class="imgcssUser" style="width: 100%; height: 100%;" src="@po.UserImage" />
                        </div>
                        <div class="hotpost_title">
                            <a href="javascript:void(0)" style="text-decoration: none; color: #333;">@po.PostTitle</a>
                        </div>
                        <span class="user_name">@po.UserName</span>
                        <span class="addtime">@po.AddTime</span>
                    </div>
                }*@


                @*<div class="postbox">
                    <div class="user_image">
                        <img class="imgcssUser" style="width: 100%; height: 100%;" src=""/>
                    </div>
                    <div class="hotpost_title">
                        <a href="javascript:void(0)" style="text-decoration: none; color: #333;"><%#Eval("PostTitle") %></a>
                    </div>
                    <span class="user_name"><%#Eval("UserName") %></span>
                    <span class="addtime">1992-02-21</span>
                </div>
                <div class="postbox">
                    <div class="user_image">
                        <img class="imgcssUser" style="width: 100%; height: 100%;" src=""/>
                    </div>
                    <div class="hotpost_title">
                        <a href="javascript:void(0)" style="text-decoration: none; color: #333;"><%#Eval("PostTitle") %></a>
                    </div>
                    <span class="user_name"><%#Eval("UserName") %></span>
                    <span class="addtime">1992-02-21</span>
                </div>
                <div class="postbox">
                    <div class="user_image">
                        <img class="imgcssUser" style="width: 100%; height: 100%;" src=""/>
                    </div>
                    <div class="hotpost_title">
                        <a href="javascript:void(0)" style="text-decoration: none; color: #333;"><%#Eval("PostTitle") %></a>
                    </div>
                    <span class="user_name"><%#Eval("UserName") %></span>
                    <span class="addtime">1992-02-21</span>
                </div>*@
               

            </div>
        </div>
    </div>
    <div class="rightbox">
        <div class="bankuai">
            <div class="paihang">
                <span class="paihang_title">原创排行</span>
                <ul>
                    @foreach (var ph in Model.PaiHang)
                    {
                        <li><a href="@Url.Action("PostDetails", "LunTan", new {luntanId = @ph.LunTan_id, postId = @ph.Post_id})"><span class="paihang_span2">@ph.PostTitle</span></a><a href="@Url.Action("UserCenter","UserInfo",new {Users_id = @ph.Users_id})"><span class="paihang_span3">@ph.UserName</span></a></li>
                    }
               @*<li><a href="javascript:void(0)"><span class="paihang_span2">咏春</span><span class="paihang_span3">张三</span></a></li>
                <li><a href="javascript:void(0)"><span class="paihang_span2">咏春</span><span class="paihang_span3">张三</span></a></li>
                <li><a href="javascript:void(0)"><span class="paihang_span2">咏春</span><span class="paihang_span3">张三</span></a></li>*@
                </ul>
            </div>



            <hr style="width: 100%; height: 1px; border: none; border-top:3px solid rgb(51, 182, 104); display: block;" />
            <span class="bankuai_name" style="">版块信息</span>
            @*<hr style="width: 100%; height: 1px; border: none; border-top: 1px solid #E6E6E6; display: block;"/>*@
            <span class="banzhu">版主：黄小捷</span>
            <ul>
                <li><a href="javascript:void(0)">-【社区用户手册】 </a></li>
                <li><a href="javascript:void(0)">-【原创区版规】 </a></li>
            </ul>
            @*<asp:Image ID="right_image" runat="server" CssClass="cssright_image" ImageUrl="~/images/post/建筑社区.jpg"/>*@
            <img id="right_image" class="cssright_image" src="~/Images/LunTan/建筑社区.jpg"/>
        </div>
    </div>
    <input class="LunTan_id" type="hidden" value="@ViewBag.LunTan_id"/>
</section>
@section scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
    $(function () {
            @*$(".Tribune-choose .cotenter ul").children(":eq(1)").children().attr("href", '@Url.Action("YuanChuang", "LunTan", new { luntanId = 1})');*@
            //$(".Tribune-choose .cotenter ul").children(":eq(2)").children().attr("href", "/LunTan/YuanChuang");
            //$(".Tribune-choose .cotenter ul").children(":eq(3)").children().attr("href", "/LunTan/YuanChuang");
            $(".Tribune-choose .cotenter ul").children(":eq(1)").children().click(function() {
                $.ajax({
                    type: "post",
                    url: "/LunTan/GetAllPost",
                    data: { luntanId: $(".LunTan_id").val() },
                    success: function(data) {
                        location.href = "/LunTan/YuanChuang?luntanId=1";
                    }
                });
            });
            $(".Tribune-choose .cotenter ul").children(":eq(2)").children().click(function() {
                $.ajax({
                    type: "post",
                    url: "/LunTan/GetAllPost",
                    data: { luntanId: $(".LunTan_id").val() },
                    success: function(data) {
                        location.href = "/LunTan/YuanChuang?luntanId=2";
                    }
                });
            });
            $(".Tribune-choose .cotenter ul").children(":eq(3)").children().click(function() {
                $.ajax({
                    type: "post",
                    url: "/LunTan/GetAllPost",
                    data: { luntanId: $(".LunTan_id").val() },
                    success: function(data) {
                        location.href = "/LunTan/YuanChuang?luntanId=3";
                    }
                });
            });
    });
    $(function() {
        $(".refresh_1").click(function() {
            $.ajax({
                type: "post",
                url: "/LunTan/GetAllPost",
                data: { luntanId: $(".LunTan_id").val() },
                success: function(data) {
                    $("#GetAllPost").html(data);
                }
            });
        });
    });
    $(function () {
        if ($(".LunTan_id").val() == 1) {

        } else {
            $(".paihang").hide();
        }
    });
    $(function () {
        
        $(document).on('click', '.zan1', function () {   //赞 
                //$(".zan1").click(function () {   
            var postId = $(this).parent().next().next().next().next().val();
            var zannum = $(this).next().next();
            //$(this).next().css("display", "block");
            //$(this).css("display", "none");
            $.ajax({
                type: "post",
                url: "/LunTan/Zan",
                data: { postId: postId },
                success: function (data) {
                    zannum.html(data);
                }
            });
        });
        //$(".zan2").click(function () {   //赞2
        //    var a = $(this).parent().next().next().next().next().val();
        //    alert(a);
        //    $(this).prev().css("display", "block");
        //    $(this).css("display", "none");
        //});
        $(document).on('click', '.cai1', function () { //踩1
            var postId = $(this).parent().next().next().next().val();
            var cainum = $(this).next().next();
            //$(this).next().css("display", "block");
            //$(this).css("display", "none");
            $.ajax({
                type: "post",
                url: "/LunTan/Cai",
                data: { postId: postId },
                success: function (data) {
                    cainum.html(data);
                }
            });

        });
        //$(".cai2").click(function () {   //踩2
        //    var a = $(this).parent().next().next().next().val();
        //    alert(a);
        //    $(this).prev().css("display", "block");
        //    $(this).css("display", "none");
        //});
      
      
    });    
    </script>
}