@model Shiyun.Models.ShiViewModels
@{
    ViewBag.Title = "诗韵-词";
}

<!DOCTYPE html>

<head>
<title>诗韵-词 </title>
<link href="~/Content/css/ShiCiforum.css" rel="stylesheet" />
<link href="~/Content/css/ShiCilib.css" rel="stylesheet" />
<link href="~/Content/css/ShiCiswiper.min.css" rel="stylesheet" />
<link href="~/Content/css/ShiCiwenxue.css" rel="stylesheet" />
</head>

<body class="" style="background-color: #F7F7F7!important;">
    <div class="mm-wrapper" id="mm-wrapper">

        @*词推荐*@

        <div class="body">
            <div class="recommend-section">
                <div class="background-overlay" style="background: rgba(0, 0, 0, 0.2);">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="400" id="blurred_ko06tm8gd" class="tint-bg-blur" viewBox="0 0 1583 400" preserveAspectRatio="none" style="opacity: 1;">
                    <filter id="blur_ko06tm8gd">
                    <fegaussianblur in="SourceGraphic" stdDeviation="20"> </fegaussianblur>
                    </filter>
                    <image class="bigimgback" x="0" y="0" width="1583" height="400" externalResourcesRequired="true" href="https://o.ruogoo.cn/cover/3df19b1b4a0eab45350507583d4eaeb9.jpg" style="filter:url(#blur_ko06tm8gd)" preserveAspectRatio="none">
                    </image>
                    </svg>
                </div>
                <div class="container recommend-container" style="top: 25px;">
                    <section class="fi-recommend-section container">
                        <div class="desktop-panel clearfix">                            
                                @foreach (var ci in Model.Citop7)
                                {
                                    <div class="preview relative left mr10 mb10 smallall">
                                        <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci.Ci_id })" class="image">
                                            <img width="200" height="170" style="display: inline;" src='..@ci.CiImage'>
                                            <p class="title small one-line">@ci.CiTitle</p>
                                        </a>
                                    </div>
                                }                            
                        </div>
                    </section>
                </div>
            </div>
        </div>

        @*宋词大家推荐*@
        <center>
            <section class="fi-school-section container">
                <div class="rg-board one-section white section">
                    <div class="rg-board-head">
                        <p class="title">宋词大家</p>
                        <a href="@Url.Action("TimeIndex", "ShiCi")" class="more"> 更多 &gt;&gt;</a>
                    </div>
                    <div class="ui six doubling cards school-list">

                        @foreach (var ci in Model.CiAuthor1)
                        {
                            <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = ci.Author_id })" class="card" style="border-radius:80px;border:none;">
                                <div class="image" style="width:170px;height:170px;background-color:rgba(255,255,255,1);border:none;">
                                    <img  style="width:171px;height:170px;border-radius:80px;border:none;" src="..@ci.AuthorImage">
                                </div>
                                <div class="overlay" style="border-radius:80px;border:none;"></div>
                                <div class="detail" style="border:none;">
                                    <h3 class="name large title">@ci.AuthorName</h3>
                                    
                                </div>
                            </a>                           
                        }
                       @foreach (var ci in Model.CiAuthor2)
                       {
                        <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = ci.Author_id })" class="card" style="border-radius:80px;border:none;">
                            <div class="image" style="width:170px;height:170px;background-color:rgba(255,255,255,1);border:none;">
                                <img style="width:171px;height:170px;border-radius:80px;border:none;" src="..@ci.AuthorImage">
                            </div>
                            <div class="overlay" style="border-radius:80px;border:none;"></div>
                            <div class="detail" style="border:none;">
                                <h3 class="name large title">@ci.AuthorName</h3>
                            </div>
                        </a>
                       }
                        @foreach (var ci in Model.CiAuthor3)
                        {
                            <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = ci.Author_id })" class="card" style="border-radius:80px;border:none;">
                                <div class="image" style="width:170px;height:170px;background-color:rgba(255,255,255,1);border:none;">
                                    <img style="width:171px;height:170px;border-radius:80px;border:none;" src="..@ci.AuthorImage">
                                </div>
                                <div class="overlay" style="border-radius:80px;border:none;"></div>
                                <div class="detail" style="border:none;">
                                    <h3 class="name large title">@ci.AuthorName</h3>
                                </div>
                            </a>
                        }
                        @foreach (var ci in Model.CiAuthor4)
                        {
                            <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = ci.Author_id })" class="card" style="border-radius:80px;border:none;">
                                <div class="image" style="width:170px;height:170px;background-color:rgba(255,255,255,1);border:none;">
                                    <img style="width:171px;height:170px;border-radius:80px;border:none;" src="..@ci.AuthorImage">
                                </div>
                                <div class="overlay" style="border-radius:80px;border:none;"></div>
                                <div class="detail" style="border:none;">
                                    <h3 class="name large title">@ci.AuthorName</h3>

                                </div>
                            </a>
                        }
                        @foreach (var ci in Model.CiAuthor5)
                        {
                            <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = ci.Author_id })" class="card" style="border-radius:80px;border:none;">
                                <div class="image" style="width:170px;height:170px;background-color:rgba(255,255,255,1);border:none;">
                                    <img style="width:171px;height:170px;border-radius:80px;border:none;" src="..@ci.AuthorImage">
                                </div>
                                <div class="overlay" style="border-radius:80px;border:none;"></div>
                                <div class="detail" style="border:none;">
                                    <h3 class="name large title">@ci.AuthorName</h3>
                                </div>
                            </a>
                        }
                        @foreach (var ci in Model.CiAuthor6)
                        {
                            <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = ci.Author_id })" class="card" style="border-radius:80px;border:none;">
                                <div class="image" style="width:170px;height:170px;background-color:rgba(255,255,255,1);border:none;">
                                    <img style="width:171px;height:170px;border-radius:80px;border:none;" src="..@ci.AuthorImage">
                                </div>
                                <div class="overlay" style="border-radius:80px;border:none;"></div>
                                <div class="detail" style="border:none;">
                                    <h3 class="name large title">@ci.AuthorName</h3>
                                </div>
                            </a>
                        }                                            
                    </div>
                </div>
            </section>
        </center>
        <section class="fi-banner-section container"></section>

        @*词牌名推荐*@
        <section class="fi-recommend-school-section container">
            <div class="rg-board one-section white section">
                <div class="rg-board-head">
                    <p class="title">常见词牌</p>
                    <a href="@Url.Action("CiPaiIndex", "ShiCi")" class="more"> 更多 &gt;&gt;</a>
                </div>
                <div class="col-group">
                    <div class="col-4 col-mb-12">
                        <div class="school-card white">
                            @foreach (var cipai1 in Model.CiPai1)
                            {
                                <a href="@Url.Action("ShiShowCiPaiDetails", "ShiShow", new { id = cipai1.CiPai_id })" class="school-header image">
                                    <img src="..@cipai1.CiPaiImage" data-original="..@cipai1.CiPaiImage" width="100%" style="display: inline;">
                                    <div class="overlay"></div>
                                    <div class="detail">
                                        <h3 class="name large title">@cipai1.CiPaiName</h3>
                                    </div>
                                </a>                            
                            }
                           
                            <div class="school-post-list">
                                @foreach (var ci1 in Model.Ci1)
                                {
                                    <div class="post-item">
                                        <div class="reply-label ui right pointing basic orange label">@ci1.Ci_id</div>
                                        <p class="one-line text">
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci1.Ci_id })" class="big title">@ci1.CiTitle</a>
                                        </p>
                                        <p>
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci1.Ci_id })" class="small gray title">
                                                <img src="..@ci1.CiImage" data-original="..@ci1.CiImage" class="ui avatar image" style="display: inline-block;">
                                                <span>@ci1.Author.AuthorName</span>
                                            </a>
                                        </p>
                                    </div>
                                } 
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-mb-12">
                        <div class="school-card white">
                            @foreach (var cipai in Model.CiPai2)
                            {
                                <a href="@Url.Action("ShiShowCiPaiDetails", "ShiShow", new { id = cipai.CiPai_id })" class="school-header image">
                                    <img src="..@cipai.CiPaiImage" data-original="..@cipai.CiPaiImage" width="100%" style="display: inline;">
                                    <div class="overlay"></div>
                                    <div class="detail">
                                        <h3 class="name large title">@cipai.CiPaiName</h3>
                                    </div>
                                </a>
                            }

                            <div class="school-post-list">
                                @foreach (var ci in Model.Ci2)
                                {
                                    <div class="post-item">
                                        <div class="reply-label ui right pointing basic orange label">@ci.Ci_id</div>
                                        <p class="one-line text">
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci.Ci_id })" class="big title">@ci.CiTitle</a>
                                        </p>
                                        <p>
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci.Ci_id })" class="small gray title">
                                                <img src="..@ci.CiImage" data-original="..@ci.CiImage" class="ui avatar image" style="display: inline-block;">
                                                <span>@ci.Author.AuthorName</span>
                                            </a>
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-mb-12">
                        <div class="school-card white">
                            @foreach (var cipai in Model.CiPai3)
                            {
                                <a href="@Url.Action("ShiShowCiPaiDetails3", "ShiShow", new { ciid = cipai.CiPai_id })" class="school-header image">
                                    <img src="..@cipai.CiPaiImage" data-original="..@cipai.CiPaiImage" width="100%" style="display: inline;">
                                    <div class="overlay"></div>
                                    <div class="detail">
                                        <h3 class="name large title">@cipai.CiPaiName</h3>
                                    </div>
                                </a>
                            }

                            <div class="school-post-list">
                                @foreach (var ci2 in Model.Ci3)
                                {
                                    <div class="post-item">
                                        <div class="reply-label ui right pointing basic orange label">@ci2.Ci_id</div>
                                        <p class="one-line text">
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="big title">@ci2.CiTitle</a>
                                        </p>
                                        <p>
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="small gray title">
                                                <img src="..@ci2.CiImage" data-original="..@ci2.CiImage" class="ui avatar image" style="display: inline-block;">
                                                <span>@ci2.Author.AuthorName</span>
                                            </a>
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-mb-12">
                        <div class="school-card white">
                            @foreach (var cipai in Model.CiPai4)
                            {
                                <a href="@Url.Action("ShiShowCiPaiDetails", "ShiShow", new { id = cipai.CiPai_id })" class="school-header image">
                                    <img src="..@cipai.CiPaiImage" data-original="..@cipai.CiPaiImage" width="100%" style="display: inline;">
                                    <div class="overlay"></div>
                                    <div class="detail">
                                        <h3 class="name large title">@cipai.CiPaiName</h3>
                                    </div>
                                </a>
                            }

                            <div class="school-post-list">
                                @foreach (var ci2 in Model.Ci4)
                                {
                                    <div class="post-item">
                                        <div class="reply-label ui right pointing basic orange label">@ci2.Ci_id</div>
                                        <p class="one-line text">
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="big title">@ci2.CiTitle</a>
                                        </p>
                                        <p>
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="small gray title">
                                                <img src="..@ci2.CiImage" data-original="..@ci2.CiImage" class="ui avatar image" style="display: inline-block;">
                                                <span>@ci2.Author.AuthorName</span>
                                            </a>
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-mb-12">
                        <div class="school-card white">
                            @foreach (var cipai in Model.CiPai5)
                            {
                                <a href="@Url.Action("ShiShowCiPaiDetails", "ShiShow", new { id = cipai.CiPai_id })" class="school-header image">
                                    <img src="..@cipai.CiPaiImage" data-original="..@cipai.CiPaiImage" width="100%" style="display: inline;">
                                    <div class="overlay"></div>
                                    <div class="detail">
                                        <h3 class="name large title">@cipai.CiPaiName</h3>
                                    </div>
                                </a>
                            }

                            <div class="school-post-list">
                                @foreach (var ci2 in Model.Ci5)
                                {
                                    <div class="post-item">
                                        <div class="reply-label ui right pointing basic orange label">@ci2.Ci_id</div>
                                        <p class="one-line text">
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="big title">@ci2.CiTitle</a>
                                        </p>
                                        <p>
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="small gray title">
                                                <img src="..@ci2.CiImage" data-original="..@ci2.CiImage" class="ui avatar image" style="display: inline-block;">
                                                <span>@ci2.Author.AuthorName</span>
                                            </a>
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-mb-12">
                        <div class="school-card white">
                            @foreach (var cipai in Model.CiPai6)
                            {
                                <a href="@Url.Action("ShiShowCiPaiDetails", "ShiShow", new { id = cipai.CiPai_id })" class="school-header image">
                                    <img src="..@cipai.CiPaiImage" data-original="..@cipai.CiPaiImage" width="100%" style="display: inline;">
                                    <div class="overlay"></div>
                                    <div class="detail">
                                        <h3 class="name large title">@cipai.CiPaiName</h3>
                                    </div>
                                </a>
                            }

                            <div class="school-post-list">
                                @foreach (var ci2 in Model.Ci6)
                                {
                                    <div class="post-item">
                                        <div class="reply-label ui right pointing basic orange label">@ci2.Ci_id</div>
                                        <p class="one-line text">
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="big title">@ci2.CiTitle</a>
                                        </p>
                                        <p>
                                            <a href="@Url.Action("ShiShowCiDetails3", "ShiShow", new { ciid = ci2.Ci_id })" class="small gray title">
                                                <img src="..@ci2.CiImage" data-original="..@ci2.CiImage" class="ui avatar image" style="display: inline-block;">
                                                <span>@ci2.Author.AuthorName</span>
                                            </a>
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </section>

    </div>
    @*</div>*@
    <script src="~/Scripts/JS/ShiCipush.js"></script>
    <script src="~/Scripts/JS/ShiCianalytics.js"></script>"
    <script src="~/Scripts/JS/ShiCihm.js"></script>
    <script src="~/Scripts/JS/ShiCilib.js"></script>   
    <div class="mm-menu-mask"></div>
    <script src="~/Scripts/JS/ShiCiforum-.js"></script>
    <script src="~/Scripts/JS/ShiCiswiper.min.js"></script>   
    <script>
		(function () {
			var bp          = document.createElement('script');
			var curProtocol = window.location.protocol.split(':')[0];
			if (curProtocol === 'https') {
				bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
			}
			else {
				bp.src = 'http://push.zhanzhang.baidu.com/push.js';
			}
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(bp, s);
		})();
		$(".smallall").hover(function () {
		    var a = $(this).children().children().attr("src");
            
		    $(".bigimgback").attr("href", a);
		}, function () {
		});
    </script>

</body>

