@model Shiyun.Models.ShiViewModels
@{
    ViewBag.Title = "诗韵—诗";
}
<!DOCTYPE html>
<!-- saved from url=(0025)https://wenxue.ruogoo.cn/ -->
@*<html lang="zh-CN" class=" "><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">*@
<head>
<title> 诗韵——诗</title>
<meta name="description" content="  ">
<meta name="keywords" content="  ">

<meta name="csrf-token" content="XzDKUs7Acgri0CgGseYipTXvyGhisG9PPp0zgv6J">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="applicable-device" content="pc,mobile">

<meta property="wb:webmaster" content="f1db8ed3fe948373">
<meta property="qc:admins" content="72241260576257777636">

<link href="~/Content/css/ShiCilib.css" rel="stylesheet" />
<link href="~/Content/css/ShiCiwenxue.css" rel="stylesheet" />
<link href="~/Content/css/ShiCiswiper.min.css" rel="stylesheet" />

    <style>
        .recommend-list .recommend-item .active .title {
    border-bottom: 2px solid #CC7030;
    background-color: #C8336A;
}
    </style>

<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>    <![endif]-->
    <script type="text/javascript">

 $(function ()
 {
if ($("#divContent2")[0].outerText)
 {
 // ie
$("#divContent1").html($("#divContent2").outerText);
}
else
{
// Firefox
 $("#divContent1").html($("#divContent2").textContent);
}
});
    </script>


</head>


<body class="" style="background-color: #F7F7F7!important;">
    <div class="message-container">
    </div>
    <div class="mm-wrapper" id="mm-wrapper">
        <div class="body">
            <div class="recommend-section">
                <div class="background-overlay" style="background: rgba(0, 0, 0, 0.2);">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1583" height="400" id="blurred_ko06tm8gd" class="tint-bg-blur" viewBox="0 0 1583 400" preserveAspectRatio="none" style="opacity: 1;">
                    <filter id="blur_ko06tm8gd">
                    <fegaussianblur in="SourceGraphic" stdDeviation="20">
                        </fegaussianblur>
                    </filter>
                    <image class="bigimgback" x="0" y="0" width="1583" height="400" externalResourcesRequired="true" href="https://o.ruogoo.cn/cover/3df19b1b4a0eab45350507583d4eaeb9.jpg" style="filter:url(#blur_ko06tm8gd)" preserveAspectRatio="none">
                    </image>
                    </svg>
                </div>
                <div class="container recommend-container">
@foreach (var shi in Model.Shitop8)
{ 
                    <div class="recommend-detail">
                        <h2 >
                            <a href="@Url.Action("ShiShowDetails", "ShiShow")" class="white title extra bigTitle">@shi.ShiTitle</a>
                        </h2>
                        <h4>
                            <a href="@Url.Action("ShiShowDetails", "ShiShow")" class="white title author">@*@shi.Author.AuthorName*@</a>
                        </h4>
                        <a href="https://wenxue.ruogoo.cn/article/recommend" class="rg-button see-more">更多推荐</a>
                    </div>

                    <div class="recommend-show">
                        <a href="https://wenxue.ruogoo.cn/article/6994" class="image current visible transition animating fade left in">
                            <img src="..@shi.ShiImage" width="240" height="320" class="bigimg">
                        </a>
                    </div>
}
                   @*推荐诗句*@
                    <ul class="recommend-list">                        
                           @foreach (var shi in Model.Shitop8)
                           {
                                <li class="recommend-item">
                                    <a href="@Url.Action("ShiShowDetails", "ShiShow", new { id = shi.Shi_id })" class="image recommend-article" data-title="@shi.ShiTitle">
                                        <img style="width:100px;" src='..@shi.ShiImage' />
                                        <div class="timeline-title">
                                            <p class="title small one-line">@shi.ShiTitle</p>
                                        </div>
                                        
                                    </a>
                                </li>
                           }
                    </ul>

 
                </div>
            </div>

            @*推荐显示部分*@
            <section class="nice-section container">
                <div class="rg-board one-section white section">
                    <div class="rg-board-head">
                        <p class="title">古诗鉴赏</p>
                        <a href="https://wenxue.ruogoo.cn/article/nice" class="more"> 更多 &gt;&gt;</a>
                    </div>

                    @*古诗鉴赏*@
                    
                    <div class="rg-board-body"> 

                        @*古诗推荐*@  
                         
                        <div class="col-group">
                           
                              @foreach (var shi in Model.Shi1)
                                {
                                <div class="col-4 col-mb-12">                                    
                                    <div class="nicewithpic-item">
                                        <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Shi_id})">
                                            <img class="cover" src="@shi.ShiImage" style="display: inline;width:90px;height:120px;float: left;margin-right: 8px;" />
                                        </a>                                        
                                        <div class="big title one-line">
                                            <a href="https://wenxue.ruogoo.cn/article/7370">@shi.ShiTitle</a>
                                        </div>
                                        <p class="small text gray summary">
                                            我生之初尚无为，我生之后汉祚衰。
                                            天不仁兮降乱离，地不仁兮使我逢此时。
                                            干戈日寻兮道路危，民卒流亡兮共哀悲。
                                            烟尘蔽野兮胡虏盛，志意乖兮节义亏。
                                        </p>
                                        <p class="author" style="margin-top: -10px;width: 71%;float: left;">
                                            作者:
                                            <a href="https://user.ruogoo.cn/8668">@shi.Author.AuthorName</a>
                                        </p>                                     
                                    </div>
                                </div>
                                } 

                            @foreach (var shi in Model.Shi2)
                            {
                                <div class="col-4 col-mb-12">
                                    <div class="nicewithpic-item">
                                        <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Shi_id})">
                                            <img class="cover" src="@shi.ShiImage" style="display: inline;width:90px;height:120px;float: left;margin-right: 8px;" />
                                        </a>
                                        <div class="big title one-line">
                                            <a href="https://wenxue.ruogoo.cn/article/7370">@shi.ShiTitle</a>
                                        </div>
                                        <p class="small text gray summary">
                                            北方有佳人。绝世而独立。
                                            一顾倾人城。再顾倾人国。
                                            宁不知倾城与倾国。佳人难再得。
                                           
                                        </p>
                                        <p class="author" style="margin-top: -10px;width: 71%;float: left;">
                                            作者:
                                            <a href="https://user.ruogoo.cn/8668">@shi.Author.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            }

                            @foreach (var shi in Model.Shi3)
                            {
                                <div class="col-4 col-mb-12">
                                    <div class="nicewithpic-item">
                                        <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Shi_id})">
                                            <img class="cover" src="@shi.ShiImage" style="display: inline;width:90px;height:120px;float: left;margin-right: 8px;" />
                                        </a>
                                        <div class="big title one-line">
                                            <a href="https://wenxue.ruogoo.cn/article/7370">@shi.ShiTitle</a>
                                        </div>
                                        <p class="small text gray summary">
                                            鸿鹄高飞，一举千里。
                                            羽翮已就，横绝四海。
                                            横绝四海，当可奈何？
                                            虽有矰缴，尚安所施？
                                        </p>
                                        <p class="author" style="margin-top: -10px;width: 71%;float: left;">
                                            作者:
                                            <a href="https://user.ruogoo.cn/8668">@shi.Author.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            }

                            
                            @foreach (var shi in Model.Shi4)
                            {
                                <div class="col-4 col-mb-12">
                                    <div class="nicewithpic-item">
                                        <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Shi_id})">
                                            <img class="cover" src="@shi.ShiImage" style="display: inline;width:90px;height:120px;float: left;margin-right: 8px;" />
                                        </a>
                                        <div class="big title one-line">
                                            <a href="https://wenxue.ruogoo.cn/article/7370">@shi.ShiTitle</a>
                                        </div>
                                        <p class="small text gray summary">
                                            美连娟以修嫭兮，命樔绝而不长。
                                            饰新官以延贮兮，泯不归乎故乡。
                                            惨郁郁其芜秽兮，隐处幽而怀伤。
                                            释舆马于山椒兮，奄修夜之不阳。
                                        </p>
                                        <p class="author" style="margin-top: -10px;width: 71%;float: left;">
                                            作者:
                                            <a href="https://user.ruogoo.cn/8668">@shi.Author.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            }

                            @foreach (var shi in Model.Shi5)
                            {
                                <div class="col-4 col-mb-12">
                                    <div class="nicewithpic-item">
                                        <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Shi_id})">
                                            <img class="cover" src="@shi.ShiImage" style="display: inline;width:90px;height:120px;float: left;margin-right: 8px;" />
                                        </a>
                                        <div class="big title one-line">
                                            <a href="https://wenxue.ruogoo.cn/article/7370">@shi.ShiTitle</a>
                                        </div>
                                        <p class="small text gray summary">
                                            太一况，天马下，沾赤汗，沫流赭。
                                            志俶傥，精权奇，籋浮云，晻上驰。
                                            体容与，迣万里，今安匹，龙为友。
                                        </p>
                                        <p class="author" style="margin-top: -10px;width: 71%;float: left;">
                                            作者:
                                            <a href="https://user.ruogoo.cn/8668">@shi.Author.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            }

                            @foreach (var shi in Model.Shi6)
                            {
                                <div class="col-4 col-mb-12">
                                    <div class="nicewithpic-item">
                                        <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Shi_id})">
                                            <img class="cover" src="@shi.ShiImage" style="display: inline;width:90px;height:120px;float: left;margin-right: 8px;" />
                                        </a>
                                        <div class="big title one-line">
                                            <a href="https://wenxue.ruogoo.cn/article/7370">@shi.ShiTitle</a>
                                        </div>
                                        <p class="small text gray summary">
                                            秋木萋萋，其叶萎黄，有鸟处山，集于苞桑。
                                            养育毛羽，形容生光，既得行云，上游曲房。
                                            离宫绝旷，身体摧藏，志念没沉，不得颉颃。
                                        </p>
                                        <p class="author" style="margin-top: -10px;width: 71%;float: left;">
                                            作者:
                                            <a href="https://user.ruogoo.cn/8668">@shi.Author.AuthorName</a>
                                        </p>
                                    </div>
                                </div>
                            }

                            

                        </div>
                                  
                        @*诗人推荐*@  
                                                      
                        <div class="nice-list col-group">
                               
                                    @foreach (var shi in Model.Shitop8)

                                    {
                                        <div class="col-4 col-mb-12">
                                            <div class="nice-item text one-line">

                                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">@shi.ShiType.ShiTypeName</a>
                                                <a href="https://wenxue.ruogoo.cn/article/7372" class="title"> @shi.ShiTitle </a>
                                                /
                                                <a href="https://user.ruogoo.cn/8383" class="gray"> @shi.Author.AuthorName</a>
                                            </div>
                                        </div>
                                     }
                            </div>

                        </div>



                    </div>                        
            </section>


            @*诗韵推荐类型*@
            <div class="container">
                <div class="rg-board collection-section one-section white section">
                    <div class="rg-board-head">
                        <p class="title">诗韵推荐类型</p>
                        <a href="https://wenxue.ruogoo.cn/collection" class="more">更多 &gt;&gt;</a>
                    </div>
                    <div class="rg-board-body">
                        <div class="collection-list clearfix col-group">
                            @foreach (var shi in Model.ShiTypetop12)
                            {
                                <div class="col-2 col-mb-6">
                                    <div class="collection-item">
                                        <a href="@Url.Action("ShiShowDetails", "ShiShow", new {id = shi.ShiType_id})" class="collection-cover image" data-title="@shi.ShiTypeName">
                                            <img src='..@shi.ShiTypeImage' class="cover"  style="display: inline;" />
                                            <p class="title one-line">
                                                <a href="https://wenxue.ruogoo.cn/collection/367">@shi.ShiTypeName</a>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>


            @*诗人专题*@
            <div class="container">
                <section class="topic-section">
                    <div class="col-group">
                        <div class="col-4 col-mb-12">
                            <div class="topic">
                                @foreach (var shi in Model.ShiAuthor1)
                                {
                                    <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Author_id}) class="image"">
                                        <div class="ui orange left label">专题</div>
                                        <img src="~/Images/shi/shi杜甫.jpg" style="display: inline; width:360px;height:160px;" class="collection-cover image" />
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="topic">
                                @foreach (var shi in Model.ShiAuthor1)
                                {
                                    <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Author_id}) class=" image"">
                                        <div class="ui orange left label">专题</div>
                                        <img src="~/Images/shi/shi李白.jpg" style="display: inline; width:360px;height:160px;" class="collection-cover image" />
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="topic">
                                @foreach (var shi in Model.ShiAuthor1)
                                {
                                    <a href="@Url.Action("GoodsDetail", "Mall", new {id = shi.Author_id}) class=" image"">
                                        <div class="ui orange left label">专题</div>
                                        <img src="~/Images/shi/shi陆游.png" style="display: inline; width:360px;height:160px;" class="collection-cover image" />
                                    </a>
                                }
                                @*<a href="https://wenxue.ruogoo.cn/topic/1" class="image">
                                    <div class="ui orange left label">专题</div>
                                    <img src="~/Images/shi/shi陆游.png" style="display: inline; width:360px;height:160px;" />
                                    
                                </a>*@
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            @*最新诗篇*@
            <section class="article-section container">
                <div class="col-group">
                    <div class="col-8 col-mb-12">
                        <div class="rg-board one-section white section">
                            <div class="rg-board-head">
                                <p class="title">最新诗篇</p>
                                <a href="https://wenxue.ruogoo.cn/article" class="more"> 更多 &gt;&gt;</a>
                            </div>
                            <div class="rg-board-body">
                                <div class="col-group">
                                        @foreach (var shi in Model.Shinew22)
                                        {
                                            <ul class="latest-list">
                                                <div class="col-6 col-mb-12">
                                                    <li class="article-item text one-line">
                                                            <a href="@Url.Action("ShiShowDetails", "ShiShow", new {id = shi.Shi_id})" class="small text gray">[@shi.ShiType.ShiTypeName]</a>
                                                            <a href="@Url.Action("ShiShowDetails", "ShiShow", new {id = shi.Shi_id})">@shi.ShiTitle  -</a>
                                                            <a href="@Url.Action("ShiShowDetails", "ShiShow", new {id = shi.Shi_id})" class="small text gray">@shi.Author.AuthorName</a>
                                                    </li>
                                                </div>
                                            </ul>
                                        }                                                                                          
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-mb-12">
                        <div class="rg-board one-section white section">
                            <div class="rg-board-head">
                                <p class="title">诗词年代表</p>
                            </div>
                            <div class="rg-board-body">
                                <ul class="top-list">
                                    @foreach (var shi in Model.ShiTimetop11)
                                    {

                                        <li class="article-item text one-line">
                                            <a href="@Url.Action("ShiShowDetails", "ShiShow", new {id = shi.Time_id})" >
                                                <i class="article-no text gray">@shi.Time_id </i>&nbsp;&nbsp;
                                                <a href="https://wenxue.ruogoo.cn/article/4084">@shi.TimeName</a>-
                                                <a href="https://user.ruogoo.cn/7691" class="small text gray"  >
                                                     @shi.TimeJieshao
                                            </a>
                                        </li>
                                    }
                                </ul>

                            </div>


                        </div>



                    </div>
                </div>
            </section>

            <section class="banner">
                <div style="padding: 10px;"></div>
            </section>
        </div>

    </div>

    <script src="~/Scripts/JS/ShiCipush.js"></script>
    <script src="~/Scripts/JS/ShiCianalytics.js"></script>
    <script src="~/Scripts/JS/ShiCilib.js"></script>
    <script src="~/Scripts/JS/ShiCihm.js"></script>

   <div class="mm-menu-mask"></div>
    <script src="~/Scripts/JS/ShiCiswiper.min.js"></script>
    <script src="~/Scripts/JS/ShiCiwenxue.js"></script>



    <script type="text/javascript">
		$(document).ready(function () {
			var $swiperContainer = $('.swiper-container');
			if ($swiperContainer.length > 0) {
				$swiperContainer.swiper({
					direction          : 'horizontal',
					autoplay           : 3000,
					loop               : true,
					pagination         : '.swiper-pagination',
					paginationClickable: true
				});
			}
		});
    </script>


    <script type="text/javascript">
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?5b73570792602cb83cdb6b9af4ef15cd";
			var s  = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
    </script>
    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-64523090-1', 'auto');
		ga('send', 'pageview');

    </script>
    <script>
		(function () {
			var bp          = document.createElement('script');
			var curProtocol = window.location.protocol.split(':')[0];
			if (curProtocol === 'https') {
				bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
			}
			else {
				bp.src = 'http://push.zhanzhang.baidu.com/push.js';
			}
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(bp, s);
		})();



		$(".recommend-item").hover(function () {
		  var a=  $(this).children().children().attr("src"); 
		  
		  $(".bigimg").attr("src", a);
		  $(".bigimgback").attr("href", a);
		  var b = $(this).children().children(":eq(1)").children().text();
		  $(".bigTitle").text(b);
		}, function () {

		});
		var title=  $(".recommend-item").children().children(":eq(1)").children().text();
		$(".bigTitle").text(title);
    </script>



</body>

