@model Models.Shi
@{
    ViewBag.Title = "诗鉴赏";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<head>
    <link href="~/Content/css/ShiCiforum.css" rel="stylesheet" />
    <link href="~/Content/css/ShiCilib.css" rel="stylesheet" />
    <link href="~/Content/css/ShiCiswiper.min.css" rel="stylesheet" />
    <link href="~/Content/css/ShiCiwenxue.css" rel="stylesheet" />
    <style>
        .dianji i {
            font-size: 25px;
            color: darkgrey;
        }

            .dianji i:hover {
                color: #c03f3c;
                font-size: 25px;
            }
    .rightdetails .icomments{padding:10px 20px;margin-top:50px;}
    .rightdetails .textarea{margin:10px auto; height:70px;width:800px; border:1px solid rgba(0, 0, 0,0.5);border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
    .text2{margin:0 45px;}
    .rightdetails .btnpl{margin-left:20px; width:500px;height:25px; display:inline-block;     margin-top: 5px;}
    .rightdetails .btnpl2{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
    .rightdetails .showpl{width:760px;margin:10px auto;}
    .showhf{width:230px; float:right;margin-right:30px;display:inline-block;}
    .listbody {margin:20px auto;width:645px; }
    .commentpages{margin:20px auto;width:760px;}
    .leftside{position:fixed;top:150px;/*list-style:none;color: rgba(0, 0, 0,0.7);*/font-size:16px;z-index:500;}
    .leftside .ZMenu-left-nav-a{color:rgba(51, 51, 51,1);text-decoration:none;}
    .leftside .ZMenu-left-nav-a:hover{text-decoration:none;color:#c03f3c;}
     .btn {background:rgba(0,0,0,0);border:none;outline:none;font-size:16px;display:inline-block;}
     .btn2{background:rgba(0,0,0,0);border:none;outline:none;font-size:16px;display:inline-block;width:200px;line-height:40px;}
     .btn:hover{color:#c03f3c;text-decoration:none;}
     .btn2:hover{color:#c03f3c;text-decoration:none;}
    .pages{margin:20px auto;text-align:center;text-decoration:none;}
    .pages .button{background-color:white;}
    .btn_reply{float: right;margin-right: 115px;}
    </style>
</head>
<body class="" style="background-color: #F7F7F7!important;">
    <div class="message-container">
    </div>
    <div class="mm-wrapper" id="mm-wrapper">
        <div class="body">
            <div class="container">
                <div class="col-group">
                    <div class="col-9 col-mb-12">
                        <section class="as-article-section one-section white section">
                            <div class="article-head">
                                <h2>@Model.ShiTitle</h2>
                                <div class="dianji">
                                    <i class="iconfont zheng" style="color:#c03f3c;">&#xe628;</i>
                                    <i class="iconfont yi">&#xe60e;</i>
                                    <i class="iconfont shang">&#xe60c;</i>
                                    <i class="iconfont bei">&#xe629;</i>
                                </div>

                            </div>
                            <div class="article-meta small text">
                                <span class="span-item">@Model.AddTime</span>
                                <span class="span-item">|</span>
                                <span class="span-item">作者:</span>
                                <span class="span-item">@Model.Author.AuthorName</span>
                                <span class="span-item">@Model.Time.TimeName</span>
                                <span class="span-item">|</span>
                                <span class="span-item">
                                    分类: <a href="@Url.Action("ShiShowTypeDetails", "ShiShow", new { id = Model.ShiType_id })" class="gray">@Model.ShiType.ShiTypeName</a>
                                </span>
                                <div class="nice-stamp"></div>
                            </div>
                            <div class="article-body yuanwen">
                                <div class="article-content plain paper">
                                    <center>@Html.Raw(@Model.ShiContent)</center>
                                </div>
                            </div>
                            <div class="article-body fanyi" style="display:none;">
                                <div class="article-content plain paper">
                                    @Html.Raw(@Model.ShiFanyi)

                                </div>
                            </div>
                            <div class="article-body shangxi" style="display:none;">
                                <div class="article-content plain paper">
                                    @Html.Raw(@Model.ShiShangxi)

                                </div>
                            </div>
                            <div class="article-body beijing" style="display:none;">
                                <div class="article-content plain paper">
                                    @Html.Raw(@Model.Shibeijing)

                                </div>
                            </div>
                            <div class="copyright-box">
                                <div>
                                    <span>作者：<a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = Model.Author_id })" target="_blank">@Model.Author.AuthorName</a></span>
                                    <span>∙ 文章来源：<a href="#">诗韵</a></span>
                                </div>
                                <div>
                                    <i class="ri ri-copyright"></i>欢迎大家一起学习中国古诗词，遨游诗词海洋，传承中国优秀诗词文化。
                                </div>
                            </div>
                        </section>

                        <section class="as-article-section one-section white section">
                            <div class="article-reply reply">
                                <div class="reply-header gray text">评论</div>
                                
                            <div class="icomments">
                                <div class="icomments_box">
                                    @{ Html.RenderAction("ShiComments", "ShiShow");}
                                </div>
                            </div>
                                </div>
                        </section>
                    </div>
                    <div class="col-3 col-mb-12">
                        <section class="as-sidebar-section sidebar one-section white section">
                            <div class="user-block ui tint blur" data-image="..@Model.ShiImage" style="position: relative; z-index: 1;">
                                <div class="tint-overlay" style="position: absolute; width: 100%; height: 100%; overflow: hidden; z-index: -1; background: rgba(0, 0, 0, 0.2);">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="273" height="240" id="blurred_e56ciec5r" class="tint-bg-blur" viewBox="0 0 273 240" preserveAspectRatio="none" style="opacity: 1;">
                                        <filter id="blur_e56ciec5r">
                                            <fegaussianblur in="SourceGraphic" stdDeviation="20">
                                            </fegaussianblur>
                                        </filter>
                                        <image x="0" y="0" width="273" height="240" externalResourcesRequired="true" href="@Model.ShiImage" style="filter:url(#blur_e56ciec5r)" preserveAspectRatio="none">
                                        </image>
                                    </svg>
                                </div>
                                <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = Model.Author_id })" class="ui circular image user-avatar">
                                    <img src="@Model.Author.AuthorImage" class="" alt="@Model.Author.AuthorName" width="80" height="80">
                                </a>
                                <p class="user-name big text">
                                    <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = Model.Author_id })">@Model.Author.AuthorName</a>
                                </p>
                                <p class="user-level">
                                    <a href="" class="rg-label small level" style="background-color: #63A9ED;">朝代</a>
                                    <a href="#" class="rg-label small level" style="background-color: #3D6BE2;">@Model.Time.TimeName</a>
                                </p>
                            </div>
                            <div class="user-introduction">
                                <p class="text gray">
                                   <center>
                                       <audio controls="controls" class="music" style="display: block; width:100%;height:30px;">
                                          <source src="@Model.ShiYuying" type="audio/mpeg" />
                                       </audio> 
                                    </center> 
                                </p>
                        </div>
                            <div class="goto-write center" style="padding: 10px;">
                                <a href="@Url.Action("ShiShowAuthorDetails", "ShiShow", new { id = Model.Author_id })" class="ui fluid teal button" target="_blank">其他作品</a>
                            </div>
                            <div class="rg-board">
                                <div class="rg-board-head">
                                    <p class="title">所属分类</p>
                                </div>
                                <div class="rg-board-body">
                                    <div class="ui list">
                                        <div class="item">
                                            <a href="" class="ui tiny image">
                                                <img src="@Model.ShiImage" data-original="" alt="浮生辞" style="display: block;">
                                            </a>
                                            <div class="top aligned content">
                                                <a href="" class="big title">@Model.ShiType.ShiTypeName</a>
                                                <div class="content">
                                                    <a href="" class="small gray text">@Model.ShiTitle</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/JS/ShiCipush.js"></script>
    <script src="~/Scripts/JS/ShiCianalytics.js"></script>
    <script src="~/Scripts/JS/ShiCilib.js"></script>
    <script src="~/Scripts/JS/ShiCihm.js"></script>

    <div class="mm-menu-mask"></div>


    <script>
		(function () {
			var bp          = document.createElement('script');
			var curProtocol = window.location.protocol.split(':')[0];
			if (curProtocol === 'https') {
				bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
			}
			else {
				bp.src = 'http://push.zhanzhang.baidu.com/push.js';
			}
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(bp, s);
		})();

		$(".yi").click(function () {
		    //var a = $(this).children().children().attr("src");
		    $(".yi").css("color", "#c03f3c");
		    $(".zheng").css("color", "darkgrey");
		    $(".shang").css("color", "darkgrey");
		    $(".bei").css("color", "darkgrey");
		    $(".yuanwen").hide();
		    $(".shamgxi").hide();
		    $(".beijing").hide();
		    $(".fanyi").show();
		});
		$(".shang").click(function () {
		    //var a = $(this).children().children().attr("src");
		    $(".shang").css("color", "#c03f3c");
		    $(".zheng").css("color", "darkgrey");
		    $(".yi").css("color", "darkgrey");
		    $(".bei").css("color", "darkgrey");
		    $(".yuanwen").hide();
		    $(".shamgxi").show();
		    $(".beijing").hide();
		    $(".fanyi").hide();
		});
		$(".zheng").click(function () {
		    //var a = $(this).children().children().attr("src");
		    $(".zheng").css("color", "#c03f3c");
		    $(".shang").css("color", "darkgrey");
		    $(".yi").css("color", "darkgrey");
		    $(".bei").css("color", "darkgrey");
		    $(".yuanwen").show();
		    $(".shamgxi").hide();
		    $(".beijing").hide();
		    $(".fanyi").hide();
		});
		$(".bei").click(function () {
		    //var a = $(this).children().children().attr("src");
		    $(".bei").css("color", "#c03f3c");
		    $(".zheng").css("color", "darkgrey");
		    $(".yi").css("color", "darkgrey");
		    $(".shang").css("color", "darkgrey");
		    $(".yuanwen").hide();
		    $(".beijing").show();
		    $(".shangxi").hide();
		    $(".fanyi").hide();
		});
    </script>



</body>

